---
import CoreLayoutWhite from "../components/CoreLayout-white.astro";
import Partners from "../components/Partners.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout>
  <CoreLayoutWhite>
    <!--Hero Start -->
    <section
      class="hero-area hero-area-corporate position-relative z-index-one section-margin-bottom"
    >
      <div class="container container-semi-large">
        <div class="row justify-content-end">
          <div class="col-lg-6 col-xl-4">
            <div class="hero-corporate-info" data-lag="0.2" data-stagger="0.08">
              <p class="text-white mb-4 mb-lg-5">
                Get Best Quality Website starting from &#8377; <b
                  >5999/-
                </b>only
              </p>
              <p class="text-white mb-4" style="font-size: 1rem">
                Our Experienced professional team will craft your website that
                has Aesthetic look, Mobile Responsive, Fast Loading, Content
                Richness and Graphical Richness.
              </p>
              <a class="common-design-btn white-bg" href="contact.html">
                <span class="btn-flip">
                  <span data-text="Get Free Quotation">Get Free Quotation</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="row section-margin-top">
          <div class="col-lg-12">
            <div class="hero-two-info" data-lag="0.2" data-stagger="0.08">
              <span
                class="text-white fnt-weight-500 hero-three-sub d-inline-block mb-1"
                >Grow business with</span
              >
              <h1 class="text-white text-uppercase">IGNITAX</h1>
              <p class="text-white mb-4" style="font-size: 1rem">
                #We Do not claim to be Ahmedabad's #1 web design companies
                because there are many number 1 companies are there.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Hero End -->

    <!--Partners Start -->

    <Partners />

    <!--Partners End -->

    <!--Core Services Start -->

    <section class="services-area section-padding-bottom">
      <div class="container">
        <div class="row align-items-lg-end gy-4">
          <div class="col-lg-9">
            <div class="section-title text-center text-lg-start">
              <h2 class="h2 mt-2 title-anim">List of Websites</h2>
            </div>
          </div>
        </div>
        <div class="row gy-4" style="margin-top: 8px;">
          <div class="col-lg-4 col-md-6 fade_left">
            <div class="services-box" style="padding-top: 12px;">
              <div class="services-info">
                <h3 class="h3">Business Websites</h3>
                <p>
                  <ul>
                    <li>Corporate Website</li>
                    <li>Startup Website</li>
                    <li>Small Business Website</li>
                    <li>Business Portfolio Website</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 fade_left">
            <div class="services-box" style="padding-top: 12px;">
              <div class="services-info">
                <h3 class="h3">E-Commerce Websites</h3>
                <p>
                  <ul>
                    <li>Online Store (Single Vendor)</li>
                    <li>Marketplace (Multi-Vendor)</li>
                    <li>Subscription-Based Store</li>
                    <li>Dropshipping Website</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 fade_left">
            <div class="services-box" style="padding-top: 8px;">
              <div class="services-info">
                <h3 class="h3">Personal Websites</h3>
                <p>
                  <ul>
                    <li>Personal Blog</li>
                    <li>Resume/CV Website</li>
                    <li>Personal Branding Website</li>
                    <li>Portfolio Website</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row gy-4" style="margin-top: 8px;">
          <div class="col-lg-4 col-md-6 fade_left">
            <div class="services-box" style="padding-top: 12px;">
              <div class="services-info">
                <h3 class="h3">Informational Websites</h3>
                <p>
                  <ul>
                    <li>News Portal</li>
                    <li>Magazine Website</li>
                    <li>Educational Website</li>
                    <li>Wiki or Knowledge Base</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 fade_left">
            <div class="services-box" style="padding-top: 12px;">
              <div class="services-info">
                <h3 class="h3">Entertainment Websites</h3>
                <p>
                  <ul>
                    <li>Streaming Website (Video/Audio)</li>
                    <li>Meme or Viral Content Website</li>
                    <li>Gaming Website</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 fade_left">
            <div class="services-box" style="padding-top: 8px;">
              <div class="services-info">
                <h3 class="h3">Social Media & Community Websites</h3>
                <p>
                  <ul>
                    <li>Social Networking Platform</li>
                    <li>Forum or Discussion Board</li>
                    <li>Membership Website</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row gy-4" style="margin-top: 8px;">
          <div class="col-lg-4 col-md-6 fade_left">
            <div class="services-box" style="padding-top: 12px;">
              <div class="services-info">
                <h3 class="h3">Booking & Service Websites</h3>
                <p>
                  <ul>
                    <li>Hotel/Travel Booking Website</li>
                    <li>Appointment Scheduling Website</li>
                    <li>Event Booking Website</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 fade_left">
            <div class="services-box" style="padding-top: 12px;">
              <div class="services-info">
                <h3 class="h3">Non-Profit & Government Websites</h3>
                <p>
                  <ul>
                    <li>Charity or Fundraising Website</li>
                    <li>NGO Website</li>
                    <li>Government Information Website</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 fade_left">
            <div class="services-box" style="padding-top: 8px;">
              <div class="services-info">
                <h3 class="h3">Specialized Websites</h3>
                <p>
                  <ul>
                    <li>Real Estate Website</li>
                    <li>Job Portal</li>
                    <li>Classifieds Website</li>
                    <li>Healthcare Website</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Core Services End -->

    <!--Industry Experience Start -->

    <section class="work-process-area section-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title text-center">
              <h2 class="h2 mt-2 title-anim">Industry Experiance</h2>
            </div>
          </div>
        </div>
        <div class="row work-process-count row-top-padding gy-4">
          <div class="col-lg-3 col-md-6 fade_right">
            <div class="work-process-box">
              <Icon name="mdi:medical-bag" width={65} height={65} />
              <h3 class="h3 mt-2 mb-1">Medical</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 fade_right">
            <div class="work-process-box">
              <Icon name="cil:industry" width={65} height={65} />
              <h3 class="h3 mt-2 mb-1">Industrial</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 fade_right">
            <div class="work-process-box">
              <Icon name="ic:round-school" width={65} height={65} />
              <h3 class="h3 mt-2 mb-1">Education</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 fade_right">
            <div class="work-process-box">
              <Icon name="ic:baseline-food-bank" width={65} height={65} />
              <h3 class="h3 mt-2 mb-1">Restaurents</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 fade_right">
            <div class="work-process-box">
              <Icon
                name="fluent:building-home-16-filled"
                width={65}
                height={65}
              />
              <h3 class="h3 mt-2 mb-1">Real Estate</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 fade_right">
            <div class="work-process-box">
              <Icon name="ic:round-hotel-class" width={65} height={65} />
              <h3 class="h3 mt-2 mb-1">Hospitality</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 fade_right">
            <div class="work-process-box">
              <Icon name="tabler:tax" width={65} height={65} />
              <h3 class="h3 mt-2 mb-1">US Taxation</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 fade_right">
            <div class="work-process-box">
              <Icon name="map:accounting" width={65} height={65} />
              <h3 class="h3 mt-2 mb-1">Accounting</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Industry Experience End -->

    <!--About Outsource Start -->
    <section class="about-area-portfolio section-padding-bottom">
      <div class="container container-semi-large">
        <div class="row gy-3">
          <div class="col-xl-10">
            <div class="about-portfolio-chars-wrap">
              <h2 class="h2 text_invert">
                We offer outsourced project solutions and provide skilled
                manpower or staffing solutions to our clients who are in need of
                additional resources for following industries...
              </h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--About Outsource End -->

    <!--Industry Exp 2 Start -->

    <section class="work-process-area section-padding-bottom">
      <div class="container">
        <div class="row work-process-count gy-4">
          <div class="col-lg-4 col-md-6 fade_right">
            <div class="work-process-box">
              <Icon name="noto:desktop-computer" width={65} height={65} />
              <h3 class="h3 mt-2 mb-1">IT Companies</h3>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 fade_right">
            <div class="work-process-box">
              <Icon
                name="logos:google-marketing-platform"
                width={65}
                height={65}
              />
              <h3 class="h3 mt-2 mb-1">Marketing Companies</h3>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 fade_right">
            <div class="work-process-box">
              <Icon name="logos:google-developers" width={65} height={65} />
              <h3 class="h3 mt-2 mb-1">Web Development Companies</h3>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 fade_right">
            <div class="work-process-box">
              <Icon name="logos:ant-design" width={65} height={65} />
              <h3 class="h3 mt-2 mb-1">Graphic Designing</h3>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 fade_right">
            <div class="work-process-box">
              <Icon name="logos:productboard-icon" width={65} height={65} />
              <h3 class="h3 mt-2 mb-1">Product Designing</h3>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 fade_right">
            <div class="work-process-box">
              <Icon
                name="marketeq:invoice-dollar-done-left"
                width={65}
                height={65}
              />
              <h3 class="h3 mt-2 mb-1">US Taxation</h3>
            </div>
          </div>
        </div>
        <div class="row justify-content-center row-top-padding">
          <div>
            <div class="hero-corporate-info" data-lag="0.2" data-stagger="0.08">
              <a class="common-design-btn only-border white-bg" href="/contact">
                <span class="btn-flip">
                  <span data-text="Get Free Quotation">Get Free Quotation</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Industry Exp 2 End -->

    <!--Contact Form Landing Start -->

    <section
      class="contact-form-area section-margin-bottom"
      style="margin-top: 25px;"
    >
      <div class="container container-semi-large">
        <div class="row justify-content-between align-items-center gy-5">
          <div class="col-lg-5">
            <div class="section-title-two">
              <h2 class="h2 char-animation">Our Approach</h2>
            </div>
            <div
              class="contact-desc mt-2 mt-lg-5 d-flex align-items-center gap-3"
              style="font-size: medium;"
            >
              <svg
                width="36"
                height="34"
                viewBox="0 0 56 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M23.0183 5.17817C24.3967 0.0980434 31.6033 0.0980434 32.9817 5.17816C34.1241 9.38824 38.733 11.6078 42.7368 9.87597C47.568 7.78628 52.0612 13.4206 48.9489 17.6657C46.3696 21.1837 47.5079 26.171 51.3582 28.2215C56.0042 30.6959 54.4006 37.7217 49.1411 37.9351C44.7824 38.112 41.5929 42.1115 42.3904 46.4003C43.3526 51.5754 36.8598 54.7022 33.4137 50.7232C30.5577 47.4258 25.4422 47.4258 22.5863 50.7232C19.1402 54.7022 12.6474 51.5754 13.6096 46.4003C14.4071 42.1115 11.2176 38.112 6.85889 37.9351C1.5994 37.7217 -0.00419617 30.6959 4.64182 28.2215C8.49214 26.171 9.63044 21.1837 7.05113 17.6657C3.93878 13.4205 8.43196 7.78628 13.2632 9.87597C17.267 11.6078 21.8759 9.38823 23.0183 5.17817Z"
                  stroke="#1A1A1A"
                  stroke-width="2"></path>
              </svg>
              <p>Meeting and Cup of Tea.</p>
            </div>
            <div
              class="contact-desc mt-2 mt-lg-5 d-flex align-items-center gap-3"
            >
              <svg
                width="36"
                height="34"
                viewBox="0 0 56 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M23.0183 5.17817C24.3967 0.0980434 31.6033 0.0980434 32.9817 5.17816C34.1241 9.38824 38.733 11.6078 42.7368 9.87597C47.568 7.78628 52.0612 13.4206 48.9489 17.6657C46.3696 21.1837 47.5079 26.171 51.3582 28.2215C56.0042 30.6959 54.4006 37.7217 49.1411 37.9351C44.7824 38.112 41.5929 42.1115 42.3904 46.4003C43.3526 51.5754 36.8598 54.7022 33.4137 50.7232C30.5577 47.4258 25.4422 47.4258 22.5863 50.7232C19.1402 54.7022 12.6474 51.5754 13.6096 46.4003C14.4071 42.1115 11.2176 38.112 6.85889 37.9351C1.5994 37.7217 -0.00419617 30.6959 4.64182 28.2215C8.49214 26.171 9.63044 21.1837 7.05113 17.6657C3.93878 13.4205 8.43196 7.78628 13.2632 9.87597C17.267 11.6078 21.8759 9.38823 23.0183 5.17817Z"
                  stroke="#1A1A1A"
                  stroke-width="2"></path>
              </svg>
              <p>Requirement Gathering and Team Intro</p>
            </div>
            <div
              class="contact-desc mt-2 mt-lg-5 d-flex align-items-center gap-3"
            >
              <svg
                width="36"
                height="34"
                viewBox="0 0 56 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M23.0183 5.17817C24.3967 0.0980434 31.6033 0.0980434 32.9817 5.17816C34.1241 9.38824 38.733 11.6078 42.7368 9.87597C47.568 7.78628 52.0612 13.4206 48.9489 17.6657C46.3696 21.1837 47.5079 26.171 51.3582 28.2215C56.0042 30.6959 54.4006 37.7217 49.1411 37.9351C44.7824 38.112 41.5929 42.1115 42.3904 46.4003C43.3526 51.5754 36.8598 54.7022 33.4137 50.7232C30.5577 47.4258 25.4422 47.4258 22.5863 50.7232C19.1402 54.7022 12.6474 51.5754 13.6096 46.4003C14.4071 42.1115 11.2176 38.112 6.85889 37.9351C1.5994 37.7217 -0.00419617 30.6959 4.64182 28.2215C8.49214 26.171 9.63044 21.1837 7.05113 17.6657C3.93878 13.4205 8.43196 7.78628 13.2632 9.87597C17.267 11.6078 21.8759 9.38823 23.0183 5.17817Z"
                  stroke="#1A1A1A"
                  stroke-width="2"></path>
              </svg>
              <p>Development Phase</p>
            </div>
            <div
              class="contact-desc mt-2 mt-lg-5 d-flex align-items-center gap-3"
            >
              <svg
                width="36"
                height="34"
                viewBox="0 0 56 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M23.0183 5.17817C24.3967 0.0980434 31.6033 0.0980434 32.9817 5.17816C34.1241 9.38824 38.733 11.6078 42.7368 9.87597C47.568 7.78628 52.0612 13.4206 48.9489 17.6657C46.3696 21.1837 47.5079 26.171 51.3582 28.2215C56.0042 30.6959 54.4006 37.7217 49.1411 37.9351C44.7824 38.112 41.5929 42.1115 42.3904 46.4003C43.3526 51.5754 36.8598 54.7022 33.4137 50.7232C30.5577 47.4258 25.4422 47.4258 22.5863 50.7232C19.1402 54.7022 12.6474 51.5754 13.6096 46.4003C14.4071 42.1115 11.2176 38.112 6.85889 37.9351C1.5994 37.7217 -0.00419617 30.6959 4.64182 28.2215C8.49214 26.171 9.63044 21.1837 7.05113 17.6657C3.93878 13.4205 8.43196 7.78628 13.2632 9.87597C17.267 11.6078 21.8759 9.38823 23.0183 5.17817Z"
                  stroke="#1A1A1A"
                  stroke-width="2"></path>
              </svg>
              <p>Feedback From you.</p>
            </div>
            <div
              class="contact-desc mt-2 mt-lg-5 d-flex align-items-center gap-3"
            >
              <svg
                width="36"
                height="34"
                viewBox="0 0 56 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M23.0183 5.17817C24.3967 0.0980434 31.6033 0.0980434 32.9817 5.17816C34.1241 9.38824 38.733 11.6078 42.7368 9.87597C47.568 7.78628 52.0612 13.4206 48.9489 17.6657C46.3696 21.1837 47.5079 26.171 51.3582 28.2215C56.0042 30.6959 54.4006 37.7217 49.1411 37.9351C44.7824 38.112 41.5929 42.1115 42.3904 46.4003C43.3526 51.5754 36.8598 54.7022 33.4137 50.7232C30.5577 47.4258 25.4422 47.4258 22.5863 50.7232C19.1402 54.7022 12.6474 51.5754 13.6096 46.4003C14.4071 42.1115 11.2176 38.112 6.85889 37.9351C1.5994 37.7217 -0.00419617 30.6959 4.64182 28.2215C8.49214 26.171 9.63044 21.1837 7.05113 17.6657C3.93878 13.4205 8.43196 7.78628 13.2632 9.87597C17.267 11.6078 21.8759 9.38823 23.0183 5.17817Z"
                  stroke="#1A1A1A"
                  stroke-width="2"></path>
              </svg>
              <p>Ready to deploy</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="contact-form-wrap">
              <h3 class="h3">Get a Free Quote</h3>
              <form
                class="contact-form-tools mt-4 d-flex flex-column gap-4"
                action="#"
              >
                <input class="w-100" type="text" placeholder="Full Name" />
                <input class="w-100" type="text" placeholder="Contact Number" />
                <input class="w-100" type="email" placeholder="Email Address" />
                <input class="w-100" type="text" placeholder="City" />
                <button
                  class="contact-btn d-block w-100 bg-transparent fnt-weight-500"
                  >Let’s Talk</button
                >
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Contact Form Landing End -->

    <!--Landing Portfolio Start -->

    <section
      class="portfolio-area bg_white section-padding-bottom overflow-hidden"
    >
      <div class="container container-semi-large">
        <div class="row align-items-center gy-lg-5 gy-4">
          <div class="col-lg-12">
            <div class="section-title-three-sub black-sub sub-black-border">
              <span
                class="d-inline-block position-relative fnt-weight-500 fade_left"
                >OUR PORTFOLIO</span
              >
            </div>
          </div>
          <div class="col-lg-8">
            <div class="section-title-two">
              <h2 class="h2 text-black">Explore selected projects</h2>
            </div>
          </div>
          <div class="col-lg-4 text-lg-end">
            <a
              class="common-design-btn only-border border-black btn-trigger btn-bounce"
              href="portfolio-grid.html"
            >
              <span class="btn-flip">
                <span data-text="See Portfolios">See Portfolios</span>
              </span>
            </a>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-10 portfolio-box-wrap portfolio-text-wrap">
            <div class="portfolio-box text-center">
              <h2
                class="portfolio-name mt-lg-2 portfolio-title-wrap portfolio-pin-box portfolio__text text-uppercase text-black"
              >
                WORKS
              </h2>
              <div
                class="d-flex flex-column mt-3 mt-lg-0 gap-4 gap-lg-5 portfolio-pin-wrapper"
              >
                <div class="portfolio-item-single portfolio-pin-box">
                  <img src="assets/images/portfolio/pf-3-1.webp" alt="" />
                  <div class="portfolio-item-info text-start w-100">
                    <h3 class="h3 mb-2">
                      <a href="#">Ghar Ka Khana</a>
                    </h3>
                    <p>Next.js</p>
                  </div>
                </div>
                <div class="portfolio-item-single portfolio-pin-box">
                  <img src="assets/images/portfolio/pf-3-2.webp" alt="" />
                  <div class="portfolio-item-info text-start w-100">
                    <h3 class="h3 mb-2">
                      <a href="#">Wintech Industries</a>
                    </h3>
                    <p>HTML, CSS, JS</p>
                  </div>
                </div>
                <div class="portfolio-item-single portfolio-pin-box">
                  <img src="assets/images/portfolio/pf-3-3.webp" alt="" />
                  <div class="portfolio-item-info text-start w-100">
                    <h3 class="h3 mb-2">
                      <a href="portfolio-grid.html">DR. Jenit Gandhi</a>
                    </h3>
                    <p>HTML, CSS, JS</p>
                  </div>
                </div>
                <div class="portfolio-item-single portfolio-pin-box">
                  <img src="assets/images/portfolio/pf-3-4.webp" alt="" />
                  <div class="portfolio-item-info text-start w-100">
                    <h3 class="h3 mb-2">
                      <a href="#">Jr. Marvels Preschool</a>
                    </h3>
                    <p>Wordpress</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Landing Portfolio End -->
  </CoreLayoutWhite>
</Layout>
