---
import CoreLayout from "../components/CoreLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <CoreLayout>
    <!-- About -->

    <section
      class="about-three-area scroll-left-area section-margin-top overflow-hidden"
    >
      <div class="container container-semi-large">
        <div
          class="row row-top-padding justify-content-between align-items-end gy-4"
        >
          <div class="col-lg-4">
            <div class="about-three-img-box overflow-hidden">
              <img
                class="w-100 h-100 ft_object"
                data-speed=".8"
                src="assets/images/about-2.png"
                alt=""
              />
            </div>
          </div>
          <div class="col-lg-7">
            <div class="about-three-info-wrap">
              <div class="btn-trigger">
                <svg
                  class="btn-bounce"
                  width="50"
                  height="50"
                  viewBox="0 0 50 50"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L1 49M1 49H49M1 49L49 1"
                    stroke="black"
                    stroke-width="2"></path>
                </svg>
              </div>
              <p class="mt-4 mt-lg-5">
                We craft websites that don’t just exist— they perform,
                engage, and convert!
              </p>
            </div>
          </div>
        </div>
        <div class="row gy-4 align-items-end section-padding-top">
          <div class="col-xxl-4 col-lg-3 order-1 order-lg-0">
            <a
              class="common-design-btn only-border btn-trigger btn-bounce"
              href="about.html"
            >
              <span class="btn-flip">
                <span data-text="Learn More">Learn More</span>
              </span>
            </a>
          </div>
          <div class="col-xxl-8 col-lg-9">
            <div class="section-title-three scroll-left-title">
              <h2>
                <svg
                  class="title-icon d-none d-lg-inline-block"
                  width="56"
                  height="54"
                  viewBox="0 0 56 54"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M23.0183 5.17817C24.3967 0.0980434 31.6033 0.0980434 32.9817 5.17816C34.1241 9.38824 38.733 11.6078 42.7368 9.87597C47.568 7.78628 52.0612 13.4206 48.9489 17.6657C46.3696 21.1837 47.5079 26.171 51.3582 28.2215C56.0042 30.6959 54.4006 37.7217 49.1411 37.9351C44.7824 38.112 41.5929 42.1115 42.3904 46.4003C43.3526 51.5754 36.8598 54.7022 33.4137 50.7232C30.5577 47.4258 25.4422 47.4258 22.5863 50.7232C19.1402 54.7022 12.6474 51.5754 13.6096 46.4003C14.4071 42.1115 11.2176 38.112 6.85889 37.9351C1.5994 37.7217 -0.00419617 30.6959 4.64182 28.2215C8.49214 26.171 9.63044 21.1837 7.05113 17.6657C3.93878 13.4205 8.43196 7.78628 13.2632 9.87597C17.267 11.6078 21.8759 9.38823 23.0183 5.17817Z"
                    stroke="#1A1A1A"
                    stroke-width="2"></path>
                </svg>
                Less hassle, more hustle—websites that work for you!
              </h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About End -->

    <!-- Services -->

    <section
      class="service-area-three section-padding-top section-border-black"
    >
      <div class="container custom-container custom-container-semi-large">
        <div class="row align-items-center gy-lg-5 gy-4">
          <div class="col-lg-12 pe-lg-0">
            <div class="section-title-three-sub">
              <span
                class="d-inline-block position-relative fnt-weight-500 text_black fade_left"
                >OUR SERVICES</span
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-12 service-three-pin-wrap overflow-hidden section-padding-bottom"
          >
            <div class="row gy-5 pin-section-area">
              <div class="col-lg-5">
                <div class="service-three-title-wrap">
                  <div class="section-title-two">
                    <h2 class="h2 fade_right">
                      Smart, sleek, and self-sufficient—CMS, e-commerce, and
                      features that work while you chill!
                    </h2>
                  </div>
                  <!-- <a
                    class="common-design-btn only-border mt-4 btn-trigger btn-bounce"
                    href="service.html"
                  >
                    <span class="btn-flip">
                      <span data-text="Explore All">Explore All</span>
                    </span>
                  </a> -->
                </div>
              </div>
              <div class="col-lg-7 pe-lg-0">
                <div
                  class="service-three-box-wrap position-relative work-process-count"
                >
                  <div class="service-three-box">
                    <h2
                      class="service-three-title position-relative d-inline-block reveal_anim-2"
                    >
                      Brand Identity
                    </h2>
                    <ul class="service-three-list d-flex flex-wrap mt-3">
                      <li>logo Design</li>
                      <li>Brand Naming</li>
                      <li>Color Palette</li>
                      <li>Typography</li>
                      <li>Brand Book</li>
                    </ul>
                    <a class="common-design-btn-two mt-5" href="service.html">
                      Read More
                      <div class="button-icon-wrap">
                        <svg
                          class="button-icon button-icon-one"
                          xmlns="http://www.w3.org/2000/svg"
                          width="20"
                          height="20"
                          viewBox="0 0 20 20"
                          fill="none"
                        >
                          <path
                            d="M13.4674 11.468L13.4674 6.51554L8.51498 6.51554"
                            stroke="#0C0C25"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                          <path
                            d="M6.53246 13.4507L13.3982 6.58496"
                            stroke="#0C0C25"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </svg>
                        <svg
                          class="button-icon button-icon-two"
                          xmlns="http://www.w3.org/2000/svg"
                          width="20"
                          height="20"
                          viewBox="0 0 20 20"
                          fill="none"
                        >
                          <path
                            d="M13.4674 11.468L13.4674 6.51554L8.51498 6.51554"
                            stroke="#0C0C25"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                          <path
                            d="M6.53246 13.4507L13.3982 6.58496"
                            stroke="#0C0C25"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </svg>
                      </div>
                    </a>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="service-three-title position-relative d-inline-block reveal_anim-2"
                    >
                      Marketing Collaterals
                    </h2>
                    <ul class="service-three-list d-flex flex-wrap mt-3">
                      <li>Business Cards</li>
                      <li>Letterheads & Envelopes</li>
                      <li>Brochures & Flyers</li>
                      <li>Corporate Stationery</li>
                    </ul>
                    <a class="common-design-btn-two mt-5" href="service.html">
                      Read More
                      <div class="button-icon-wrap">
                        <svg
                          class="button-icon button-icon-one"
                          xmlns="http://www.w3.org/2000/svg"
                          width="20"
                          height="20"
                          viewBox="0 0 20 20"
                          fill="none"
                        >
                          <path
                            d="M13.4674 11.468L13.4674 6.51554L8.51498 6.51554"
                            stroke="#0C0C25"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                          <path
                            d="M6.53246 13.4507L13.3982 6.58496"
                            stroke="#0C0C25"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </svg>
                        <svg
                          class="button-icon button-icon-two"
                          xmlns="http://www.w3.org/2000/svg"
                          width="20"
                          height="20"
                          viewBox="0 0 20 20"
                          fill="none"
                        >
                          <path
                            d="M13.4674 11.468L13.4674 6.51554L8.51498 6.51554"
                            stroke="#0C0C25"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                          <path
                            d="M6.53246 13.4507L13.3982 6.58496"
                            stroke="#0C0C25"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </svg>
                      </div>
                    </a>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="service-three-title position-relative d-inline-block reveal_anim-2"
                    >
                      Packaging Design
                    </h2>
                    <ul class="service-three-list d-flex flex-wrap mt-3">
                      <li>Product Packaging</li>
                      <li>Label Design</li>
                      <li>Digital Mockups</li>
                      <li>Box & Pouch Design</li>
                      <li>Catalog Design</li>
                      <li>Custom Die-Cut Packaging</li>
                    </ul>
                    <a class="common-design-btn-two mt-5" href="service.html">
                      Read More
                      <div class="button-icon-wrap">
                        <svg
                          class="button-icon button-icon-one"
                          xmlns="http://www.w3.org/2000/svg"
                          width="20"
                          height="20"
                          viewBox="0 0 20 20"
                          fill="none"
                        >
                          <path
                            d="M13.4674 11.468L13.4674 6.51554L8.51498 6.51554"
                            stroke="#0C0C25"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                          <path
                            d="M6.53246 13.4507L13.3982 6.58496"
                            stroke="#0C0C25"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </svg>
                        <svg
                          class="button-icon button-icon-two"
                          xmlns="http://www.w3.org/2000/svg"
                          width="20"
                          height="20"
                          viewBox="0 0 20 20"
                          fill="none"
                        >
                          <path
                            d="M13.4674 11.468L13.4674 6.51554L8.51498 6.51554"
                            stroke="#0C0C25"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                          <path
                            d="M6.53246 13.4507L13.3982 6.58496"
                            stroke="#0C0C25"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </svg>
                      </div>
                    </a>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="service-three-title position-relative d-inline-block reveal_anim-2"
                    >
                      Digital Marketing Design
                    </h2>
                    <ul class="service-three-list d-flex flex-wrap mt-3">
                      <li>Social Media Graphics</li>
                      <li>Ad Creatives</li>
                      <li>Infographics & Data Visualization</li>
                      <li>Motion Graphics</li>
                    </ul>
                    <a class="common-design-btn-two mt-5" href="service.html">
                      Read More
                      <div class="button-icon-wrap">
                        <svg
                          class="button-icon button-icon-one"
                          xmlns="http://www.w3.org/2000/svg"
                          width="20"
                          height="20"
                          viewBox="0 0 20 20"
                          fill="none"
                        >
                          <path
                            d="M13.4674 11.468L13.4674 6.51554L8.51498 6.51554"
                            stroke="#0C0C25"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                          <path
                            d="M6.53246 13.4507L13.3982 6.58496"
                            stroke="#0C0C25"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </svg>
                        <svg
                          class="button-icon button-icon-two"
                          xmlns="http://www.w3.org/2000/svg"
                          width="20"
                          height="20"
                          viewBox="0 0 20 20"
                          fill="none"
                        >
                          <path
                            d="M13.4674 11.468L13.4674 6.51554L8.51498 6.51554"
                            stroke="#0C0C25"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                          <path
                            d="M6.53246 13.4507L13.3982 6.58496"
                            stroke="#0C0C25"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </svg>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Services End -->
  </CoreLayout>
</Layout>
