---
import CoreLayout from "../components/CoreLayout.astro";
import Partners from "../components/Partners.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <CoreLayout>
    <!-- Hero -->

    <section
      class="hero-two-area section-padding-bottom bg_color_white overflow-hidden"
    >
      <div class="container container-semi-large">
        <div class="row gy-5">
          <div class="col-lg-12">
            <div class="hero-two-info">
              <h1 class="reveal_anim_after_loader">
                <span><h3>We are</h3></span>Team of Creators
              </h1>
            </div>
          </div>
          <div
            class="col-lg-12 hero-two-bottom-info hero-two-border position-relative"
          >
            <div class="row">
              <div class="col-lg-6 overflow-hidden order-1 order-lg-0">
                <div
                  class="hero-two-box h-100 d-flex align-items-center justify-content-center position-relative"
                >
                  <p class="h-box box-1">MARKETER</p>
                  <p class="h-box box-2">CODERS</p>
                  <p class="h-box box-3">DESIGNERS</p>
                </div>
              </div>
              <div
                class="col-lg-6 h-100 overflow-hidden about-two-cta-wrap position-relative"
              >
                <div class="hero-two-info hero-two-info-second text-lg-end">
                  <h1 class="reveal_anim_after_loader">
                    <span style="text-align: left;"><h3>Building</h3></span
                    >Brands <span><h3>That Stand Out & Succeed</h3></span>
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Hero End -->

    <!-- Marquee -->

    <section
      class="marquee-area-wrap section-padding-top marquee-bg position-relative z-index-one"
    >
      <div
        class="marquee-area-section overflow-hidden position-absolute w-100 top-50 start-0 bg_dp_black"
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="marquee-container">
                <div class="marquee">
                  <div class="initial-child-container">
                    <div class="child">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="27"
                        height="28"
                        viewBox="0 0 27 28"
                        fill="none"
                      >
                        <path
                          d="M21.2376 8.92142L21.1124 1.87156C21.1083 1.64085 20.9448 1.4414 20.7183 1.39754C15.5414 0.395254 13.6728 3.26517 13.3736 4.90559C13.3682 4.93572 13.3662 4.96542 13.3667 4.99604L13.5139 13.2828C13.9801 8.9765 18.0723 8.85736 20.5812 9.43443C20.9138 9.51094 21.2437 9.26267 21.2376 8.92142Z"
                          stroke="white"></path>
                        <path
                          d="M5.21125 18.8391L5.33661 25.8978C5.34077 26.1316 5.50885 26.3327 5.73896 26.3741C11.3253 27.38 13.3473 24.5065 13.6741 22.863C13.6805 22.8307 13.6829 22.7988 13.6823 22.7659L13.5352 14.4826C13.0232 18.8238 8.55011 18.9161 5.85529 18.3269C5.52629 18.255 5.20527 18.5023 5.21125 18.8391Z"
                          stroke="white"></path>
                        <path
                          d="M18.4292 21.9002L24.9555 21.7843C25.1896 21.7801 25.3909 21.612 25.4316 21.3813C26.358 16.1339 23.6831 14.2303 22.149 13.92C22.1164 13.9134 22.0841 13.911 22.0509 13.9116L14.3145 14.049C18.3518 14.5303 18.4571 18.7116 17.9158 21.257C17.8458 21.5859 18.0931 21.9062 18.4292 21.9002Z"
                          stroke="white"></path>
                        <path
                          d="M8.62644 6.22554L2.10021 6.34145C1.86606 6.34561 1.66478 6.51378 1.62407 6.74439C0.697673 11.9919 3.37254 13.8955 4.90668 14.2058C4.93925 14.2124 4.97152 14.2148 5.00474 14.2142L12.7411 14.0768C8.70385 13.5955 8.59852 9.41412 9.13988 6.86874C9.20982 6.53987 8.9626 6.21957 8.62644 6.22554Z"
                          stroke="white"></path>
                      </svg>
                      <span>Web Design</span>
                    </div>
                    <div class="child">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="27"
                        height="28"
                        viewBox="0 0 27 28"
                        fill="none"
                      >
                        <path
                          d="M21.2376 8.92142L21.1124 1.87156C21.1083 1.64085 20.9448 1.4414 20.7183 1.39754C15.5414 0.395254 13.6728 3.26517 13.3736 4.90559C13.3682 4.93572 13.3662 4.96542 13.3667 4.99604L13.5139 13.2828C13.9801 8.9765 18.0723 8.85736 20.5812 9.43443C20.9138 9.51094 21.2437 9.26267 21.2376 8.92142Z"
                          stroke="white"></path>
                        <path
                          d="M5.21125 18.8391L5.33661 25.8978C5.34077 26.1316 5.50885 26.3327 5.73896 26.3741C11.3253 27.38 13.3473 24.5065 13.6741 22.863C13.6805 22.8307 13.6829 22.7988 13.6823 22.7659L13.5352 14.4826C13.0232 18.8238 8.55011 18.9161 5.85529 18.3269C5.52629 18.255 5.20527 18.5023 5.21125 18.8391Z"
                          stroke="white"></path>
                        <path
                          d="M18.4292 21.9002L24.9555 21.7843C25.1896 21.7801 25.3909 21.612 25.4316 21.3813C26.358 16.1339 23.6831 14.2303 22.149 13.92C22.1164 13.9134 22.0841 13.911 22.0509 13.9116L14.3145 14.049C18.3518 14.5303 18.4571 18.7116 17.9158 21.257C17.8458 21.5859 18.0931 21.9062 18.4292 21.9002Z"
                          stroke="white"></path>
                        <path
                          d="M8.62644 6.22554L2.10021 6.34145C1.86606 6.34561 1.66478 6.51378 1.62407 6.74439C0.697673 11.9919 3.37254 13.8955 4.90668 14.2058C4.93925 14.2124 4.97152 14.2148 5.00474 14.2142L12.7411 14.0768C8.70385 13.5955 8.59852 9.41412 9.13988 6.86874C9.20982 6.53987 8.9626 6.21957 8.62644 6.22554Z"
                          stroke="white"></path>
                      </svg>
                      <span>Social Media Management</span>
                    </div>
                    <div class="child">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="27"
                        height="28"
                        viewBox="0 0 27 28"
                        fill="none"
                      >
                        <path
                          d="M21.2376 8.92142L21.1124 1.87156C21.1083 1.64085 20.9448 1.4414 20.7183 1.39754C15.5414 0.395254 13.6728 3.26517 13.3736 4.90559C13.3682 4.93572 13.3662 4.96542 13.3667 4.99604L13.5139 13.2828C13.9801 8.9765 18.0723 8.85736 20.5812 9.43443C20.9138 9.51094 21.2437 9.26267 21.2376 8.92142Z"
                          stroke="white"></path>
                        <path
                          d="M5.21125 18.8391L5.33661 25.8978C5.34077 26.1316 5.50885 26.3327 5.73896 26.3741C11.3253 27.38 13.3473 24.5065 13.6741 22.863C13.6805 22.8307 13.6829 22.7988 13.6823 22.7659L13.5352 14.4826C13.0232 18.8238 8.55011 18.9161 5.85529 18.3269C5.52629 18.255 5.20527 18.5023 5.21125 18.8391Z"
                          stroke="white"></path>
                        <path
                          d="M18.4292 21.9002L24.9555 21.7843C25.1896 21.7801 25.3909 21.612 25.4316 21.3813C26.358 16.1339 23.6831 14.2303 22.149 13.92C22.1164 13.9134 22.0841 13.911 22.0509 13.9116L14.3145 14.049C18.3518 14.5303 18.4571 18.7116 17.9158 21.257C17.8458 21.5859 18.0931 21.9062 18.4292 21.9002Z"
                          stroke="white"></path>
                        <path
                          d="M8.62644 6.22554L2.10021 6.34145C1.86606 6.34561 1.66478 6.51378 1.62407 6.74439C0.697673 11.9919 3.37254 13.8955 4.90668 14.2058C4.93925 14.2124 4.97152 14.2148 5.00474 14.2142L12.7411 14.0768C8.70385 13.5955 8.59852 9.41412 9.13988 6.86874C9.20982 6.53987 8.9626 6.21957 8.62644 6.22554Z"
                          stroke="white"></path>
                      </svg>
                      <span>Digital Media Marketing</span>
                    </div>
                    <div class="child">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="27"
                        height="28"
                        viewBox="0 0 27 28"
                        fill="none"
                      >
                        <path
                          d="M21.2376 8.92142L21.1124 1.87156C21.1083 1.64085 20.9448 1.4414 20.7183 1.39754C15.5414 0.395254 13.6728 3.26517 13.3736 4.90559C13.3682 4.93572 13.3662 4.96542 13.3667 4.99604L13.5139 13.2828C13.9801 8.9765 18.0723 8.85736 20.5812 9.43443C20.9138 9.51094 21.2437 9.26267 21.2376 8.92142Z"
                          stroke="white"></path>
                        <path
                          d="M5.21125 18.8391L5.33661 25.8978C5.34077 26.1316 5.50885 26.3327 5.73896 26.3741C11.3253 27.38 13.3473 24.5065 13.6741 22.863C13.6805 22.8307 13.6829 22.7988 13.6823 22.7659L13.5352 14.4826C13.0232 18.8238 8.55011 18.9161 5.85529 18.3269C5.52629 18.255 5.20527 18.5023 5.21125 18.8391Z"
                          stroke="white"></path>
                        <path
                          d="M18.4292 21.9002L24.9555 21.7843C25.1896 21.7801 25.3909 21.612 25.4316 21.3813C26.358 16.1339 23.6831 14.2303 22.149 13.92C22.1164 13.9134 22.0841 13.911 22.0509 13.9116L14.3145 14.049C18.3518 14.5303 18.4571 18.7116 17.9158 21.257C17.8458 21.5859 18.0931 21.9062 18.4292 21.9002Z"
                          stroke="white"></path>
                        <path
                          d="M8.62644 6.22554L2.10021 6.34145C1.86606 6.34561 1.66478 6.51378 1.62407 6.74439C0.697673 11.9919 3.37254 13.8955 4.90668 14.2058C4.93925 14.2124 4.97152 14.2148 5.00474 14.2142L12.7411 14.0768C8.70385 13.5955 8.59852 9.41412 9.13988 6.86874C9.20982 6.53987 8.9626 6.21957 8.62644 6.22554Z"
                          stroke="white"></path>
                      </svg>
                      <span>Application Development</span>
                    </div>
                    <div class="child">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="27"
                        height="28"
                        viewBox="0 0 27 28"
                        fill="none"
                      >
                        <path
                          d="M21.2376 8.92142L21.1124 1.87156C21.1083 1.64085 20.9448 1.4414 20.7183 1.39754C15.5414 0.395254 13.6728 3.26517 13.3736 4.90559C13.3682 4.93572 13.3662 4.96542 13.3667 4.99604L13.5139 13.2828C13.9801 8.9765 18.0723 8.85736 20.5812 9.43443C20.9138 9.51094 21.2437 9.26267 21.2376 8.92142Z"
                          stroke="white"></path>
                        <path
                          d="M5.21125 18.8391L5.33661 25.8978C5.34077 26.1316 5.50885 26.3327 5.73896 26.3741C11.3253 27.38 13.3473 24.5065 13.6741 22.863C13.6805 22.8307 13.6829 22.7988 13.6823 22.7659L13.5352 14.4826C13.0232 18.8238 8.55011 18.9161 5.85529 18.3269C5.52629 18.255 5.20527 18.5023 5.21125 18.8391Z"
                          stroke="white"></path>
                        <path
                          d="M18.4292 21.9002L24.9555 21.7843C25.1896 21.7801 25.3909 21.612 25.4316 21.3813C26.358 16.1339 23.6831 14.2303 22.149 13.92C22.1164 13.9134 22.0841 13.911 22.0509 13.9116L14.3145 14.049C18.3518 14.5303 18.4571 18.7116 17.9158 21.257C17.8458 21.5859 18.0931 21.9062 18.4292 21.9002Z"
                          stroke="white"></path>
                        <path
                          d="M8.62644 6.22554L2.10021 6.34145C1.86606 6.34561 1.66478 6.51378 1.62407 6.74439C0.697673 11.9919 3.37254 13.8955 4.90668 14.2058C4.93925 14.2124 4.97152 14.2148 5.00474 14.2142L12.7411 14.0768C8.70385 13.5955 8.59852 9.41412 9.13988 6.86874C9.20982 6.53987 8.9626 6.21957 8.62644 6.22554Z"
                          stroke="white"></path>
                      </svg>
                      <span>Software Development</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Marquee End -->

    <!-- Gallery Slide -->

    <section
      class="gallery-slide-area bg_color_white section-padding-bottom section-padding-top"
    >
      <div class="swiper gallery-slide">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="gallery-slide-box overflow-hidden">
              <img
                class="w-100"
                src="assets/images/gallery/slide-g-1.png"
                alt=""
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="gallery-slide-box overflow-hidden">
              <img
                class="w-100"
                src="assets/images/gallery/slide-g-2.png"
                alt=""
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="gallery-slide-box overflow-hidden">
              <img
                class="w-100"
                src="assets/images/gallery/slide-g-3.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Gallery Slide End -->

    <!-- Partners -->

    <Partners />

    <!-- Partners End -->

    <!-- About -->

    <section
      class="about-area-two bg_color_white border-about-two overflow-hidden"
    >
      <div class="container container-semi-large">
        <div
          class="row justify-content-between section-padding-top section-padding-bottom gy-5 align-items-center"
        >
          <div class="col-lg-8 order-1 order-lg-0">
            <div class="about-two-info-wrap">
              <div class="section-title-two">
                <span class="d-inline-block position-relative">ABOUT US</span>
                <h2 class="h2 char-animation">
                  We are Jay to your Veeru and Dumb to your Dumber who uplift
                  brands with heart, humor and whole lot of magic
                </h2>
              </div>
              <div
                class="about-two-fun-fact-wrap d-flex flex-xl-wrap flex-wrap mt-5"
              >
                <div
                  class="about-two-fun-fact d-flex flex-column align-items-center text-center fade_bottom"
                >
                  <h2 class="counter-item">
                    <span
                      class="odometer d-inline-block"
                      data-odometer-final="200">.</span
                    >
                    <span>+</span>
                  </h2>
                  <p class="text_black mt-0 mt-lg-3">
                    Successfully Completed Project
                  </p>
                </div>
                <div
                  class="about-two-fun-fact d-flex flex-column align-items-center text-center fade_bottom"
                >
                  <h2 class="counter-item">
                    <span
                      class="odometer d-inline-block"
                      data-odometer-final="7">.</span
                    >
                    <span>+</span>
                  </h2>
                  <p class="text_black mt-0 mt-lg-3">Years of Experience</p>
                </div>
              </div>
              <a class="common-design-btn only-border mt-5" href="about.html">
                <span class="btn-flip">
                  <span
                    data-text="P.S. Our skilled Professionals are working since last life"
                    >P.S. Our skilled Professionals are working since last life</span
                  >
                </span>
              </a>
            </div>
          </div>
          <div class="col-lg-3">
            <div
              class="about-two-cta-wrap h-100 position-relative d-flex justify-content-xxl-center justify-content-lg-end justify-content-center btn-trigger"
              data-lag="0.2"
              data-stagger="0.08"
            >
              <div
                class="about-two-cta-box btn-bounce position-relative overflow-hidden"
              >
                <img class="img-1" src="assets/images/cta-1.svg" alt="" />
                <a href="about.html">
                  <svg
                    class="img-2"
                    width="50"
                    height="50"
                    viewBox="0 0 50 50"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g opacity="0.5" clip-path="url(#clip0_3364_2431)">
                      <path
                        d="M36.0869 6.60696L42.5739 13.094L17.2421 38.4259L16.2178 39.4502L17.6664 39.4502L48.4221 39.4502L37.4936 49.4L11.1792 49.4L0.629288 49.4L0.62929 38.8502L0.629295 12.4798L10.5792 1.55035L10.5792 30.6652L10.5792 32.1137L11.6034 31.0895L36.0869 6.60696Z"
                        stroke="#1A1A1A"
                        stroke-width="1.2"></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_3364_2431">
                        <rect width="50" height="50" fill="white"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </a>
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About End -->

    <!-- Service -->

    <section class="service-area-two section-padding-top bg_color_white">
      <div class="container container-semi-large">
        <div class="row align-items-end gy-4">
          <div class="col-lg-8">
            <div class="section-title-two">
              <span class="d-inline-block position-relative">OUR SERVICES</span>
              <h2 class="h2 char-animation">Our unique services</h2>
            </div>
          </div>
          <div class="col-lg-4 text-lg-end">
            <a
              class="common-design-btn only-border btn-trigger btn-bounce"
              href="service.html"
            >
              <span class="btn-flip">
                <span data-text="See All Services">See All Services</span>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="work-process-count service-two-wrapper row-top-margin">
        <div class="service-two-box-wrap" style="border-top: 1px solid ">
          <div class="container container-semi-large">
            <div class="row">
              <div class="col-lg-12">
                <div class="service-two-box">
                  <div
                    class="service-two-info-wrap d-flex flex-column flex-xl-row justify-content-xl-between"
                  >
                    <h2 class="reveal_anim-2">
                      <a href="service.html">Web and App Development</a>
                    </h2>
                    <p>
                      We believe that, exceptional design is the main
                      cornerstone of effective new digital experiences.
                    </p>
                  </div>
                  <ul class="custom-ul d-flex flex-wrap service-showcases">
                    <li>UI/UX DESIGN</li>
                    <li>PRODUCT DESIGN</li>
                    <li>BRAND IDENTITY DESIGN</li>
                    <li>GRAPHICS / 3D DESIGN</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service-two-box-wrap" style="background-color: #66b2b2;">
          <div class="container container-semi-large">
            <div class="row">
              <div class="col-lg-12">
                <div class="service-two-box">
                  <div
                    class="service-two-info-wrap d-flex flex-column flex-xl-row justify-content-xl-between"
                  >
                    <h2 class="reveal_anim-2">
                      <a href="service.html">Software Development</a>
                    </h2>
                    <p>
                      We believe that, exceptional design is the main
                      cornerstone of effective new digital experiences.
                    </p>
                  </div>
                  <ul class="custom-ul d-flex flex-wrap service-showcases">
                    <li>Web Development</li>
                    <li>App Development</li>
                    <li>Backend Development</li>
                    <li>Frontend Development</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service-two-box-wrap" style="background-color: #b2d8d8;">
          <div class="container container-semi-large">
            <div class="row">
              <div class="col-lg-12">
                <div class="service-two-box">
                  <div
                    class="service-two-info-wrap d-flex flex-column flex-xl-row justify-content-xl-between"
                  >
                    <h2 class="reveal_anim-2">
                      <a href="service.html">Social Media Marketing</a>
                    </h2>
                    <p>
                      We believe that, exceptional design is the main
                      cornerstone of effective new digital experiences.
                    </p>
                  </div>
                  <ul class="custom-ul d-flex flex-wrap service-showcases">
                    <li>Web Development</li>
                    <li>App Development</li>
                    <li>Backend Development</li>
                    <li>Frontend Development</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service-two-box-wrap" style="background-color: #66b2b2;">
          <div class="container container-semi-large">
            <div class="row">
              <div class="col-lg-12">
                <div class="service-two-box">
                  <div
                    class="service-two-info-wrap d-flex flex-column flex-xl-row justify-content-xl-between"
                  >
                    <h2 class="reveal_anim-2">
                      <a href="service.html">Branding Services</a>
                    </h2>
                    <p>
                      We believe that, exceptional design is the main
                      cornerstone of effective new digital experiences.
                    </p>
                  </div>
                  <ul class="custom-ul d-flex flex-wrap service-showcases">
                    <li>Web Development</li>
                    <li>App Development</li>
                    <li>Backend Development</li>
                    <li>Frontend Development</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service-two-box-wrap" style="background-color: #b2d8d8;">
          <div class="container container-semi-large">
            <div class="row">
              <div class="col-lg-12">
                <div class="service-two-box">
                  <div
                    class="service-two-info-wrap d-flex flex-column flex-xl-row justify-content-xl-between"
                  >
                    <h2 class="reveal_anim-2">
                      <a href="service.html">Performance Marketing</a>
                    </h2>
                    <p>
                      We believe that, exceptional design is the main
                      cornerstone of effective new digital experiences.
                    </p>
                  </div>
                  <ul class="custom-ul d-flex flex-wrap service-showcases">
                    <li>Web Development</li>
                    <li>App Development</li>
                    <li>Backend Development</li>
                    <li>Frontend Development</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service-two-box-wrap" style="background-color: #66b2b2;">
          <div class="container container-semi-large">
            <div class="row">
              <div class="col-lg-12">
                <div class="service-two-box">
                  <div
                    class="service-two-info-wrap d-flex flex-column flex-xl-row justify-content-xl-between"
                  >
                    <h2 class="reveal_anim-2">
                      <a href="service.html">Virtual Team / Assistance</a>
                    </h2>
                    <p>
                      We believe that, exceptional design is the main
                      cornerstone of effective new digital experiences.
                    </p>
                  </div>
                  <ul class="custom-ul d-flex flex-wrap service-showcases">
                    <li>Web Development</li>
                    <li>App Development</li>
                    <li>Backend Development</li>
                    <li>Frontend Development</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service-two-box-wrap" style="background-color: #b2d8d8">
          <div class="container container-semi-large">
            <div class="row">
              <div class="col-lg-12">
                <div class="service-two-box">
                  <div
                    class="service-two-info-wrap d-flex flex-column flex-xl-row justify-content-xl-between"
                  >
                    <h2 class="reveal_anim-2">
                      <a href="service.html">Photo & Videography</a>
                    </h2>
                    <p>
                      We believe that, exceptional design is the main
                      cornerstone of effective new digital experiences.
                    </p>
                  </div>
                  <ul class="custom-ul d-flex flex-wrap service-showcases">
                    <li>SEO EXPERT</li>
                    <li>SOCIAL MEDIA MARKETING</li>
                    <li>Content Marketing</li>
                    <li>Email Marketing</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Service End -->

    <!-- Portfolio -->

    <section
      class="portfolio-area bg_color_white section-padding-top section-padding-bottom"
    >
      <div class="container container-semi-large">
        <div class="row align-items-end section-border-black pb-4 pb-lg-5 gy-4">
          <div class="col-lg-8">
            <div class="section-title-two">
              <span class="d-inline-block position-relative">PORTFOLIO</span>
              <h2 class="h2 char-animation">Our Portfolio Showcases</h2>
            </div>
          </div>
          <div class="col-lg-4 text-lg-end">
            <a
              class="common-design-btn only-border btn-trigger btn-bounce"
              href="service.html"
            >
              <span class="btn-flip">
                <span data-text="See All Works">See All Works</span>
              </span>
            </a>
          </div>
        </div>
        <div class="portfolio-box-wrapper row-top-padding">
          <div class="row portfolio-box">
            <div class="col-lg-3">
              <ul class="portfolio-subject">
                <li class="text_black fnt-weight-500">PRODUCT DESIGN</li>
              </ul>
            </div>
            <div class="col-lg-9">
              <div class="row align-items-end gy-3">
                <div class="col-lg-7 col-xxl-8">
                  <div class="portfolio-info-wrap">
                    <div class="portfolio-info">
                      <p class="fnt-weight-500 text_black">Grameen Life</p>
                      <h3 class="h3 mt-2">Brand: Green Earth Solutions</h3>
                    </div>
                    <div class="overflow-hidden">
                      <div
                        class="portfolio-img-box img-box-reveal overflow-hidden"
                      >
                        <div
                          class="portfolio-img img portfolio-img-1"
                          style="background-image: url(assets/images/portfolio/pf-1.png);"
                        >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-xxl-4">
                  <div class="portfolio-info-wrap">
                    <div class="portfolio-info">
                      <div
                        class="portfolio-info-meta d-flex align-items-end justify-content-between"
                      >
                        <span class="fnt-weight-500 text_black">2024</span>
                        <a
                          class="fnt-weight-500 text_black"
                          href="product-single.html">View Full Project</a
                        >
                      </div>
                    </div>
                    <div class="overflow-hidden">
                      <div class="d-none d-lg-block">
                        <div class="portfolio-img-box img-box-reveal">
                          <div
                            class="portfolio-img img portfolio-img-2"
                            style="background-image: url(assets/images/portfolio/pf-2.png);"
                          >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row portfolio-box">
            <div class="col-lg-3">
              <ul class="portfolio-subject">
                <li class="text_black fnt-weight-500">APP DEVELOPMENT</li>
              </ul>
            </div>
            <div class="col-lg-9">
              <div class="row align-items-end gy-3">
                <div class="col-lg-7 col-xxl-8">
                  <div class="portfolio-info-wrap">
                    <div class="portfolio-info">
                      <p class="fnt-weight-500 text_black">The Slack</p>
                      <h3 class="h3 mt-2">App Innovation: FitLife</h3>
                    </div>
                    <div class="overflow-hidden">
                      <div
                        class="portfolio-img-box img-box-reveal overflow-hidden"
                      >
                        <video
                          class="w-100 portfolio-img img portfolio-video ft_object"
                          id="player-hero"
                          playsinline="playsinline"
                          autoplay="autoplay"
                          muted="muted"
                          loop="loop"
                        >
                          <source
                            src="assets/images/video/1.mp4"
                            type="video/mp4"
                          />
                        </video>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-xxl-4">
                  <div class="portfolio-info-wrap">
                    <div class="portfolio-info">
                      <div
                        class="portfolio-info-meta d-flex align-items-end justify-content-between"
                      >
                        <span class="fnt-weight-500 text_black">2024</span>
                        <a
                          class="fnt-weight-500 text_black"
                          href="product-single.html">View Full Project</a
                        >
                      </div>
                    </div>
                    <div class="overflow-hidden">
                      <div class="d-none d-lg-block">
                        <div class="portfolio-img-box img-box-reveal">
                          <div
                            class="portfolio-img img portfolio-img-2"
                            style="background-image: url(assets/images/portfolio/pf-4.png);"
                          >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row portfolio-box">
            <div class="col-lg-3">
              <ul class="portfolio-subject">
                <li class="text_black fnt-weight-500">UI/UX DESIGN</li>
              </ul>
            </div>
            <div class="col-lg-9">
              <div class="row align-items-end gy-3">
                <div class="col-lg-7 col-xxl-8">
                  <div class="portfolio-info-wrap">
                    <div class="portfolio-info">
                      <p class="fnt-weight-500 text_black">Royal Hotel</p>
                      <h3 class="h3 mt-2">Website Redesign: Luxury Living</h3>
                    </div>
                    <div class="overflow-hidden">
                      <div
                        class="portfolio-img-box img-box-reveal overflow-hidden"
                      >
                        <div
                          class="portfolio-img img portfolio-img-1"
                          style="background-image: url(assets/images/portfolio/pf-5.png);"
                        >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-xxl-4">
                  <div class="portfolio-info-wrap">
                    <div class="portfolio-info">
                      <div
                        class="portfolio-info-meta d-flex align-items-end justify-content-between"
                      >
                        <span class="fnt-weight-500 text_black">2024</span>
                        <a
                          class="fnt-weight-500 text_black"
                          href="product-single.html">View Full Project</a
                        >
                      </div>
                    </div>
                    <div class="overflow-hidden">
                      <div class="d-none d-lg-block">
                        <div class="portfolio-img-box img-box-reveal">
                          <div
                            class="portfolio-img img portfolio-img-2"
                            style="background-image: url(assets/images/portfolio/pf-6.png);"
                          >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row portfolio-box">
            <div class="col-lg-3">
              <ul class="portfolio-subject">
                <li class="text_black fnt-weight-500">WEB DEVELOPMENT</li>
              </ul>
            </div>
            <div class="col-lg-9">
              <div class="row align-items-end gy-3">
                <div class="col-lg-7 col-xxl-8">
                  <div class="portfolio-info-wrap">
                    <div class="portfolio-info">
                      <p class="fnt-weight-500 text_black">Amazon Fly</p>
                      <h3 class="h3 mt-2">
                        Digital Transformation: Tech Innovators
                      </h3>
                    </div>
                    <div class="overflow-hidden">
                      <div
                        class="portfolio-img-box img-box-reveal overflow-hidden"
                      >
                        <div
                          class="portfolio-img img portfolio-img-1"
                          style="background-image: url(assets/images/portfolio/pf-7.png);"
                        >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-xxl-4">
                  <div class="portfolio-info-wrap">
                    <div class="portfolio-info">
                      <div
                        class="portfolio-info-meta d-flex align-items-end justify-content-between"
                      >
                        <span class="fnt-weight-500 text_black">2024</span>
                        <a
                          class="fnt-weight-500 text_black"
                          href="product-single.html">View Full Project</a
                        >
                      </div>
                    </div>
                    <div class="overflow-hidden">
                      <div class="d-none d-lg-block">
                        <div class="portfolio-img-box img-box-reveal">
                          <div
                            class="portfolio-img img portfolio-img-2"
                            style="background-image: url(assets/images/portfolio/pf-8.png);"
                          >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio End -->

    <!-- Project -->

    <section class="project-area section-padding-bottom bg_color_white">
      <div class="container">
        <div class="row align-items-lg-end gy-4">
          <div class="col-lg-9">
            <div class="section-title text-center text-lg-start">
              <h2 class="h2 title-anim">Our recent projects</h2>
            </div>
          </div>
          <div class="col-lg-3 text-center text-lg-end">
            <a
              class="common-design-btn only-border btn-trigger btn-bounce"
              href="service.html"
            >
              <span class="btn-flip">
                <span data-text="See All Projects">See All Projects</span>
              </span>
            </a>
          </div>
        </div>
        <div class="row row-top-padding gy-4 portfolio-tab gx-lg-5">
          <div class="col-xl-8 col-lg-7 order-1 order-lg-0">
            <div class="project-box d-flex flex-column">
              <div class="cluom" data-tab="tab-1">
                <div class="project-info">
                  <p>Web Developments</p>
                  <h3 class="h3">Artisan Marketplace</h3>
                </div>
                <a class="common-design-btn-two" href="product-single.html">
                  Read More
                  <div class="button-icon-wrap">
                    <svg
                      class="button-icon button-icon-one"
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                    >
                      <path
                        d="M13.4674 11.468L13.4674 6.51554L8.51498 6.51554"
                        stroke="#0C0C25"
                        stroke-width="1.5"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                      <path
                        d="M6.53246 13.4507L13.3982 6.58496"
                        stroke="#0C0C25"
                        stroke-width="1.5"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </svg>
                    <svg
                      class="button-icon button-icon-two"
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                    >
                      <path
                        d="M13.4674 11.468L13.4674 6.51554L8.51498 6.51554"
                        stroke="#0C0C25"
                        stroke-width="1.5"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                      <path
                        d="M6.53246 13.4507L13.3982 6.58496"
                        stroke="#0C0C25"
                        stroke-width="1.5"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </svg>
                  </div>
                </a>
              </div>
              <div class="cluom current" data-tab="tab-2">
                <div class="project-info">
                  <p>UI/UX Design</p>
                  <h3 class="h3">Bliss Rebranding</h3>
                </div>
                <a class="common-design-btn-two" href="product-single.html">
                  Read More
                  <div class="button-icon-wrap">
                    <svg
                      class="button-icon button-icon-one"
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                    >
                      <path
                        d="M13.4674 11.468L13.4674 6.51554L8.51498 6.51554"
                        stroke="#0C0C25"
                        stroke-width="1.5"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                      <path
                        d="M6.53246 13.4507L13.3982 6.58496"
                        stroke="#0C0C25"
                        stroke-width="1.5"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </svg>
                    <svg
                      class="button-icon button-icon-two"
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                    >
                      <path
                        d="M13.4674 11.468L13.4674 6.51554L8.51498 6.51554"
                        stroke="#0C0C25"
                        stroke-width="1.5"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                      <path
                        d="M6.53246 13.4507L13.3982 6.58496"
                        stroke="#0C0C25"
                        stroke-width="1.5"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </svg>
                  </div>
                </a>
              </div>
              <div class="cluom" data-tab="tab-3">
                <div class="project-info">
                  <p>Digital Marketing</p>
                  <h3 class="h3">E-Commerce Shopping</h3>
                </div>
                <a class="common-design-btn-two" href="product-single.html">
                  Read More
                  <div class="button-icon-wrap">
                    <svg
                      class="button-icon button-icon-one"
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                    >
                      <path
                        d="M13.4674 11.468L13.4674 6.51554L8.51498 6.51554"
                        stroke="#0C0C25"
                        stroke-width="1.5"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                      <path
                        d="M6.53246 13.4507L13.3982 6.58496"
                        stroke="#0C0C25"
                        stroke-width="1.5"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </svg>
                    <svg
                      class="button-icon button-icon-two"
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                    >
                      <path
                        d="M13.4674 11.468L13.4674 6.51554L8.51498 6.51554"
                        stroke="#0C0C25"
                        stroke-width="1.5"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                      <path
                        d="M6.53246 13.4507L13.3982 6.58496"
                        stroke="#0C0C25"
                        stroke-width="1.5"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </svg>
                  </div>
                </a>
              </div>
              <div class="cluom" data-tab="tab-4">
                <div class="project-info">
                  <p>Digital Marketing</p>
                  <h3 class="h3">Eco-Vision Branding</h3>
                </div>
                <a class="common-design-btn-two" href="product-single.html">
                  Read More
                  <div class="button-icon-wrap">
                    <svg
                      class="button-icon button-icon-one"
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                    >
                      <path
                        d="M13.4674 11.468L13.4674 6.51554L8.51498 6.51554"
                        stroke="#0C0C25"
                        stroke-width="1.5"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                      <path
                        d="M6.53246 13.4507L13.3982 6.58496"
                        stroke="#0C0C25"
                        stroke-width="1.5"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </svg>
                    <svg
                      class="button-icon button-icon-two"
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                    >
                      <path
                        d="M13.4674 11.468L13.4674 6.51554L8.51498 6.51554"
                        stroke="#0C0C25"
                        stroke-width="1.5"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                      <path
                        d="M6.53246 13.4507L13.3982 6.58496"
                        stroke="#0C0C25"
                        stroke-width="1.5"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </svg>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-5 order-0 order-lg-1">
            <div class="glry-img position-relative w-100">
              <div
                id="tab-1"
                class="bg-img tab-img"
                data-background="assets/images/project/project-1.png"
              >
              </div>
              <div
                id="tab-2"
                class="bg-img tab-img current"
                data-background="assets/images/project/project-2.png"
              >
              </div>
              <div
                id="tab-3"
                class="bg-img tab-img"
                data-background="assets/images/project/project-4.png"
              >
              </div>
              <div
                id="tab-4"
                class="bg-img tab-img"
                data-background="assets/images/project/project-3.png"
              >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Project End -->

    <!-- Social Media Starts -->

    <div class="hero-two-area hero-area-three section-padding-bottom">
      <div class="container custom-container custom-container-semi-large">
        <div class="row gy-4 justify-content-between align-items-center">
          <div class="col-lg-7 order-1 order-lg-0">
            <div class="swiper hero-info-slide">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="hero-two-info">
                    <span
                      class="text_black fnt-weight-500 hero-three-sub d-inline-block mb-1"
                      >Axole Design</span
                    >
                    <h1>CREATIVE IDEAS!</h1>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="hero-two-info">
                    <span
                      class="text_black fnt-weight-500 hero-three-sub d-inline-block mb-1"
                      >Axole Design</span
                    >
                    <h1>GENIUS SPARKS</h1>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="hero-two-info">
                    <span
                      class="text_black fnt-weight-500 hero-three-sub d-inline-block mb-1"
                      >Axole Design</span
                    >
                    <h1>CREATIVE MINDS</h1>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="hero-two-info">
                    <span
                      class="text_black fnt-weight-500 hero-three-sub d-inline-block mb-1"
                      >Axole Design</span
                    >
                    <h1>INVENTIVE IDEAS</h1>
                  </div>
                </div>
              </div>
              <div
                class="hero-slide-control w-100 d-flex flex-column mt-lg-5 mt-3"
              >
                <div
                  class="hero-number-pagination d-flex align-items-center justify-content-between pe-lg-2"
                >
                  <p class="text_black">Selected Projects</p>
                  <div
                    class="hero-img-fraction-pagination text_black fnt-weight-500"
                  >
                  </div>
                </div>
                <div
                  class="hero-img-pagination d-flex justify-content-md-end mt-3 flex-wrap gap-2"
                >
                  <div class="hero-images d-none">
                    <span
                      data-image-url="assets/images/hero/hero-slide-dot-1.png"
                    ></span>
                    <span
                      data-image-url="assets/images/hero/hero-slide-dot-2.png"
                    ></span>
                    <span
                      data-image-url="assets/images/hero/hero-slide-dot-3.png"
                    ></span>
                    <span
                      data-image-url="assets/images/hero/hero-slide-dot-4.png"
                    ></span>
                  </div>
                </div>
              </div>
              <div class="hero-three-btn-wrap mt-4 mt-lg-5">
                <a class="common-design-btn only-border" href="service.html">
                  <span class="btn-flip">
                    <span data-text="Explore Works">Explore Works</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-5 pe-lg-0">
            <div class="swiper hero-img-slide">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img
                    class="w-100 hero-three-img"
                    src="assets/images/hero/hero-slide-1.png"
                    alt=""
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    class="w-100 hero-three-img"
                    src="assets/images/hero/hero-slide-2.png"
                    alt=""
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    class="w-100 hero-three-img"
                    src="assets/images/hero/hero-slide-3.png"
                    alt=""
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    class="w-100 hero-three-img"
                    src="assets/images/hero/hero-slide-4.png"
                    alt=""
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    class="w-100 hero-three-img"
                    src="assets/images/hero/hero-slide-4.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Social Media End -->

    <!-- Testimonial -->

    <section
      class="testimonial-area bg_light_blue section-padding-bottom section-padding-bottom"
    >
      <div class="container">
        <div class="row align-items-lg-end gy-4">
          <div class="col-lg-9">
            <div class="section-title text-center text-lg-start">
              <span class="d-inline-block text_black position-relative"
                >OUR TESTIMONIALS</span
              >
              <h2 class="h2 mt-2 title-anim">OUR TESTIMONIALS</h2>
            </div>
          </div>
          <div class="col-lg-3">
            <div
              class="slider-button-wrap-arrow arrow-two color-blue d-flex justify-content-center justify-content-lg-end align-items-center"
            >
              <div
                class="testimonial-button-prev slide-btn black-button slide-btn-prev"
              >
                <svg
                  width="9"
                  height="16"
                  viewBox="0 0 9 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8 1L1 8L8 15"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </div>
              <div
                class="testimonial-button-next slide-btn black-button slide-btn-next ms-3"
              >
                <svg
                  width="9"
                  height="16"
                  viewBox="0 0 9 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.999999 1L8 8L1 15"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div
          class="row row-top-padding align-items-center justify-content-between gy-4"
        >
          <div class="col-lg-4">
            <div class="testimonial-img-wrap position-relative">
              <div class="swiper testimonial-img-slide">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img
                      class="testimonial-img"
                      src="assets/images/testimonial/tm-1.png"
                      alt=""
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      class="testimonial-img"
                      src="assets/images/testimonial/tm-2.png"
                      alt=""
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      class="testimonial-img"
                      src="assets/images/testimonial/tm-3.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <img
                class="start-0 bottom-0 position-absolute"
                src="assets/images/testimonial/round-sp.svg"
                alt=""
              />
            </div>
          </div>
          <div class="col-lg-7">
            <div class="swiper testimonial-info-slide">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="testimonial-info position-relative">
                    <ul class="custom-ul rating-mark d-flex align-items-center">
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                    </ul>
                    <p class="text_black testimonial-text mb-4 mt-2">
                      Axole exceeded our expectations with their innovative
                      solutions and impeccable design. Their team's commitment
                      to excellence transformed our digital presence and
                      significantly enhanced user engagement. Truly a reliable
                      partner in the digital landscape!
                    </p>
                    <h3 class="h3">Thomas Martin</h3>
                    <span>Designer, International Company</span>
                    <svg
                      class="testimonial-qt position-absolute end-0 bottom-0"
                      width="79"
                      height="62"
                      viewBox="0 0 79 62"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="0.51">
                        <path
                          opacity="0.1"
                          d="M70.0846 0.00638884C70.6553 0.00638889 71.2006 0.316127 71.4827 0.849399L78.8123 14.6442C79.0469 15.0849 79.0627 15.6118 78.8535 16.0652C78.6442 16.5187 78.2385 16.8507 77.7566 16.9561C75.7245 17.4096 70.6394 19.0062 67.3582 24.0451C65.7383 26.5358 65.0757 29.0649 64.8379 31.0926L76.2571 31.0926C77.1321 31.0926 77.8422 31.8079 77.8422 32.6892L77.8422 60.4034C77.8422 61.2847 77.1321 62 76.2571 62L45.5851 62C44.7101 62 44 61.2847 44 60.4034L44 36.2337C44 27.2256 47.0878 18.6613 52.6991 12.1152C53.0193 11.7415 53.349 11.3679 53.6819 11.0071C58.0473 6.25237 63.5191 2.48753 69.5045 0.111762C69.6947 0.0351249 69.8913 6.83308e-06 70.0846 6.84999e-06L70.0846 0.00638884ZM75.0873 14.3983L69.3682 3.63391C64.3338 5.84363 59.737 9.12629 56.012 13.1817C55.7045 13.517 55.4001 13.8619 55.1021 14.2067C49.9886 20.1717 47.1734 27.9983 47.1734 36.2369L47.1734 58.8099L74.6751 58.8099L74.6751 34.289L63.1418 34.289C62.717 34.289 62.3081 34.1166 62.0101 33.81C61.7121 33.5035 61.5504 33.0884 61.5567 32.6605C61.6138 30.058 62.2034 26.1463 64.7079 22.2984C67.7894 17.566 72.177 15.3818 75.0841 14.4015L75.0873 14.3983Z"
                          fill="#0C0C25"></path>
                        <path
                          opacity="0.1"
                          d="M26.0846 0.00319975C26.6553 0.0031998 27.2006 0.312957 27.4827 0.846256L34.8123 14.6418C35.0469 15.0825 35.0627 15.6094 34.8535 16.0628C34.6443 16.5163 34.2385 16.8484 33.7566 16.9538C31.7245 17.4073 26.6394 19.004 23.3582 24.0432C21.7383 26.534 21.0757 29.0632 20.8379 31.091L32.2571 31.091C33.1321 31.091 33.8422 31.8063 33.8422 32.6877L33.8422 60.4033C33.8422 61.2847 33.132 62 32.2571 62L1.58511 62C0.710125 62 -3.75216e-06 61.2847 -3.67511e-06 60.4033L-1.56202e-06 36.2324C-7.74465e-07 27.2238 3.0878 18.6591 8.69911 12.1126C9.0193 11.739 9.35218 11.3653 9.68188 11.0045C14.0473 6.2495 19.5191 2.48448 25.5045 0.111774C25.6947 0.0351325 25.8913 3.01838e-06 26.0846 3.03529e-06L26.0846 0.00319975ZM31.0873 14.3959L25.3682 3.6309C20.3338 5.84074 15.737 9.12037 12.012 13.1792C11.7045 13.5113 11.4001 13.8562 11.1021 14.2043C5.98856 20.1696 3.1734 27.9966 3.1734 36.2388L3.1734 58.813L30.6751 58.813L30.6751 34.2908L19.1418 34.2908C18.717 34.2908 18.3081 34.1184 18.0101 33.8118C17.7121 33.5052 17.5504 33.0901 17.5567 32.6622C17.6106 30.0595 18.2034 26.1476 20.7111 22.2996C23.7926 17.5669 28.1802 15.3826 31.0873 14.4023L31.0873 14.3959Z"
                          fill="#0C0C25"></path>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="testimonial-info position-relative">
                    <ul class="custom-ul rating-mark d-flex align-items-center">
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                    </ul>
                    <p class="text_black testimonial-text mb-4 mt-2">
                      Axole exceeded our expectations with their innovative
                      solutions and impeccable design. Their team's commitment
                      to excellence transformed our digital presence and
                      significantly enhanced user engagement. Truly a reliable
                      partner in the digital landscape!
                    </p>
                    <h3 class="h3">Alexander Carter</h3>
                    <span>Designer, International Company</span>
                    <svg
                      class="testimonial-qt position-absolute end-0 bottom-0"
                      width="79"
                      height="62"
                      viewBox="0 0 79 62"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="0.51">
                        <path
                          opacity="0.1"
                          d="M70.0846 0.00638884C70.6553 0.00638889 71.2006 0.316127 71.4827 0.849399L78.8123 14.6442C79.0469 15.0849 79.0627 15.6118 78.8535 16.0652C78.6442 16.5187 78.2385 16.8507 77.7566 16.9561C75.7245 17.4096 70.6394 19.0062 67.3582 24.0451C65.7383 26.5358 65.0757 29.0649 64.8379 31.0926L76.2571 31.0926C77.1321 31.0926 77.8422 31.8079 77.8422 32.6892L77.8422 60.4034C77.8422 61.2847 77.1321 62 76.2571 62L45.5851 62C44.7101 62 44 61.2847 44 60.4034L44 36.2337C44 27.2256 47.0878 18.6613 52.6991 12.1152C53.0193 11.7415 53.349 11.3679 53.6819 11.0071C58.0473 6.25237 63.5191 2.48753 69.5045 0.111762C69.6947 0.0351249 69.8913 6.83308e-06 70.0846 6.84999e-06L70.0846 0.00638884ZM75.0873 14.3983L69.3682 3.63391C64.3338 5.84363 59.737 9.12629 56.012 13.1817C55.7045 13.517 55.4001 13.8619 55.1021 14.2067C49.9886 20.1717 47.1734 27.9983 47.1734 36.2369L47.1734 58.8099L74.6751 58.8099L74.6751 34.289L63.1418 34.289C62.717 34.289 62.3081 34.1166 62.0101 33.81C61.7121 33.5035 61.5504 33.0884 61.5567 32.6605C61.6138 30.058 62.2034 26.1463 64.7079 22.2984C67.7894 17.566 72.177 15.3818 75.0841 14.4015L75.0873 14.3983Z"
                          fill="#0C0C25"></path>
                        <path
                          opacity="0.1"
                          d="M26.0846 0.00319975C26.6553 0.0031998 27.2006 0.312957 27.4827 0.846256L34.8123 14.6418C35.0469 15.0825 35.0627 15.6094 34.8535 16.0628C34.6443 16.5163 34.2385 16.8484 33.7566 16.9538C31.7245 17.4073 26.6394 19.004 23.3582 24.0432C21.7383 26.534 21.0757 29.0632 20.8379 31.091L32.2571 31.091C33.1321 31.091 33.8422 31.8063 33.8422 32.6877L33.8422 60.4033C33.8422 61.2847 33.132 62 32.2571 62L1.58511 62C0.710125 62 -3.75216e-06 61.2847 -3.67511e-06 60.4033L-1.56202e-06 36.2324C-7.74465e-07 27.2238 3.0878 18.6591 8.69911 12.1126C9.0193 11.739 9.35218 11.3653 9.68188 11.0045C14.0473 6.2495 19.5191 2.48448 25.5045 0.111774C25.6947 0.0351325 25.8913 3.01838e-06 26.0846 3.03529e-06L26.0846 0.00319975ZM31.0873 14.3959L25.3682 3.6309C20.3338 5.84074 15.737 9.12037 12.012 13.1792C11.7045 13.5113 11.4001 13.8562 11.1021 14.2043C5.98856 20.1696 3.1734 27.9966 3.1734 36.2388L3.1734 58.813L30.6751 58.813L30.6751 34.2908L19.1418 34.2908C18.717 34.2908 18.3081 34.1184 18.0101 33.8118C17.7121 33.5052 17.5504 33.0901 17.5567 32.6622C17.6106 30.0595 18.2034 26.1476 20.7111 22.2996C23.7926 17.5669 28.1802 15.3826 31.0873 14.4023L31.0873 14.3959Z"
                          fill="#0C0C25"></path>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="testimonial-info position-relative">
                    <ul class="custom-ul rating-mark d-flex align-items-center">
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                    </ul>
                    <p class="text_black testimonial-text mb-4 mt-2">
                      Axole exceeded our expectations with their innovative
                      solutions and impeccable design. Their team's commitment
                      to excellence transformed our digital presence and
                      significantly enhanced user engagement. Truly a reliable
                      partner in the digital landscape!
                    </p>
                    <h3 class="h3">Alexander Carter</h3>
                    <span>Designer, International Company</span>
                    <svg
                      class="testimonial-qt position-absolute end-0 bottom-0"
                      width="79"
                      height="62"
                      viewBox="0 0 79 62"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="0.51">
                        <path
                          opacity="0.1"
                          d="M70.0846 0.00638884C70.6553 0.00638889 71.2006 0.316127 71.4827 0.849399L78.8123 14.6442C79.0469 15.0849 79.0627 15.6118 78.8535 16.0652C78.6442 16.5187 78.2385 16.8507 77.7566 16.9561C75.7245 17.4096 70.6394 19.0062 67.3582 24.0451C65.7383 26.5358 65.0757 29.0649 64.8379 31.0926L76.2571 31.0926C77.1321 31.0926 77.8422 31.8079 77.8422 32.6892L77.8422 60.4034C77.8422 61.2847 77.1321 62 76.2571 62L45.5851 62C44.7101 62 44 61.2847 44 60.4034L44 36.2337C44 27.2256 47.0878 18.6613 52.6991 12.1152C53.0193 11.7415 53.349 11.3679 53.6819 11.0071C58.0473 6.25237 63.5191 2.48753 69.5045 0.111762C69.6947 0.0351249 69.8913 6.83308e-06 70.0846 6.84999e-06L70.0846 0.00638884ZM75.0873 14.3983L69.3682 3.63391C64.3338 5.84363 59.737 9.12629 56.012 13.1817C55.7045 13.517 55.4001 13.8619 55.1021 14.2067C49.9886 20.1717 47.1734 27.9983 47.1734 36.2369L47.1734 58.8099L74.6751 58.8099L74.6751 34.289L63.1418 34.289C62.717 34.289 62.3081 34.1166 62.0101 33.81C61.7121 33.5035 61.5504 33.0884 61.5567 32.6605C61.6138 30.058 62.2034 26.1463 64.7079 22.2984C67.7894 17.566 72.177 15.3818 75.0841 14.4015L75.0873 14.3983Z"
                          fill="#0C0C25"></path>
                        <path
                          opacity="0.1"
                          d="M26.0846 0.00319975C26.6553 0.0031998 27.2006 0.312957 27.4827 0.846256L34.8123 14.6418C35.0469 15.0825 35.0627 15.6094 34.8535 16.0628C34.6443 16.5163 34.2385 16.8484 33.7566 16.9538C31.7245 17.4073 26.6394 19.004 23.3582 24.0432C21.7383 26.534 21.0757 29.0632 20.8379 31.091L32.2571 31.091C33.1321 31.091 33.8422 31.8063 33.8422 32.6877L33.8422 60.4033C33.8422 61.2847 33.132 62 32.2571 62L1.58511 62C0.710125 62 -3.75216e-06 61.2847 -3.67511e-06 60.4033L-1.56202e-06 36.2324C-7.74465e-07 27.2238 3.0878 18.6591 8.69911 12.1126C9.0193 11.739 9.35218 11.3653 9.68188 11.0045C14.0473 6.2495 19.5191 2.48448 25.5045 0.111774C25.6947 0.0351325 25.8913 3.01838e-06 26.0846 3.03529e-06L26.0846 0.00319975ZM31.0873 14.3959L25.3682 3.6309C20.3338 5.84074 15.737 9.12037 12.012 13.1792C11.7045 13.5113 11.4001 13.8562 11.1021 14.2043C5.98856 20.1696 3.1734 27.9966 3.1734 36.2388L3.1734 58.813L30.6751 58.813L30.6751 34.2908L19.1418 34.2908C18.717 34.2908 18.3081 34.1184 18.0101 33.8118C17.7121 33.5052 17.5504 33.0901 17.5567 32.6622C17.6106 30.0595 18.2034 26.1476 20.7111 22.2996C23.7926 17.5669 28.1802 15.3826 31.0873 14.4023L31.0873 14.3959Z"
                          fill="#0C0C25"></path>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonial End -->
  </CoreLayout>
</Layout>
