---
import CoreLayout from "../components/CoreLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <CoreLayout>
    <section
      class="service-area-three section-padding-top section-border-black"
    >
      <div class="container custom-container custom-container-semi-large">
        <div class="row align-items-center gy-lg-5 gy-4">
          <div class="col-lg-12 pe-lg-0">
            <div class="section-title-three-sub">
              <span
                class="d-inline-block position-relative fnt-weight-500 text_black fade_left"
                >OUR SERVICES</span
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-12 service-three-pin-wrap overflow-hidden section-padding-bottom"
          >
            <div class="row gy-5 pin-section-area">
              <div class="col-lg-5">
                <div class="service-three-title-wrap">
                  <div class="section-title-three scroll-left-title">
                    <h2>Social Media Marketing</h2>
                  </div>
                </div>
              </div>
              <div class="col-lg-7 pe-lg-0">
                <div
                  class="service-three-box-wrap position-relative work-process-count"
                >
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      Facebook Marketing
                    </h2>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      Instagram Marketing
                    </h2>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      Youtube Marketing
                    </h2>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      Campaign Management
                    </h2>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      Social Media Account Management
                    </h2>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      Influancer Management
                    </h2>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      Profile Cration and Mnagement
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="service-area-three section-padding-top section-border-black"
    >
      <div class="container custom-container custom-container-semi-large">
        <div class="row align-items-center gy-lg-5 gy-4">
          <div class="col-lg-12 pe-lg-0"></div>
          <div class="row">
            <div
              class="col-lg-12 service-three-pin-wrap overflow-hidden section-padding-bottom"
            >
              <div class="row gy-5 pin-section-area">
                <div class="col-lg-5">
                  <div class="service-three-title-wrap">
                    <div class="section-title-three scroll-left-title">
                      <h2>Performance Marketing</h2>
                    </div>
                  </div>
                </div>
                <div class="col-lg-7 pe-lg-0">
                  <div
                    class="service-three-box-wrap position-relative work-process-count"
                  >
                    <div class="service-three-box">
                      <h2
                        class="h2 position-relative d-inline-block reveal_anim-2"
                      >
                        Google and Meta Ads
                      </h2>
                    </div>
                    <div class="service-three-box">
                      <h2
                        class="h2 position-relative d-inline-block reveal_anim-2"
                      >
                        Lead Generation
                      </h2>
                    </div>
                    <div class="service-three-box">
                      <h2
                        class="h2 position-relative d-inline-block reveal_anim-2"
                      >
                        Videos, Shors and Reels
                      </h2>
                    </div>
                    <div class="service-three-box">
                      <h2
                        class="h2 position-relative d-inline-block reveal_anim-2"
                      >
                        Page and Post Promotion
                      </h2>
                    </div>
                    <div class="service-three-box">
                      <h2
                        class="h2 position-relative d-inline-block reveal_anim-2"
                      >
                        Youtube Ads
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Services End -->
    </section>

    <section
      class="service-area-three section-padding-top section-border-black"
    >
      <div class="container custom-container custom-container-semi-large">
        <div class="row align-items-center gy-lg-5 gy-4">
          <div class="col-lg-12 pe-lg-0"></div>
          <div class="row">
            <div
              class="col-lg-12 service-three-pin-wrap overflow-hidden section-padding-bottom"
            >
              <div class="row gy-5 pin-section-area">
                <div class="col-lg-5">
                  <div class="service-three-title-wrap">
                    <div class="section-title-three scroll-left-title">
                      <h2>Photoshoot and Videography</h2>
                    </div>
                  </div>
                </div>
                <div class="col-lg-7 pe-lg-0">
                  <div
                    class="service-three-box-wrap position-relative work-process-count"
                  >
                    <div class="service-three-box">
                      <h2
                        class="h2 position-relative d-inline-block reveal_anim-2"
                      >
                        Add Shooting
                      </h2>
                    </div>
                    <div class="service-three-box">
                      <h2
                        class="h2 position-relative d-inline-block reveal_anim-2"
                      >
                        Product Photoshoot and Videography
                      </h2>
                    </div>
                    <div class="service-three-box">
                      <h2
                        class="h2 position-relative d-inline-block reveal_anim-2"
                      >
                        Property Photoshoot and Videography
                      </h2>
                    </div>
                    <div class="service-three-box">
                      <h2
                        class="h2 position-relative d-inline-block reveal_anim-2"
                      >
                        Drone Shoot
                      </h2>
                    </div>
                    <div class="service-three-box">
                      <h2
                        class="h2 position-relative d-inline-block reveal_anim-2"
                      >
                        Event Photoshoot and Videography
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Services End -->
    </section>
  </CoreLayout>
</Layout>
