---
import CoreLayout from "../components/CoreLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <CoreLayout>
    <!-- Services -->

    <section
      class="service-area-three section-padding-top section-border-black"
    >
      <div class="container custom-container custom-container-semi-large">
        <div class="row align-items-center gy-lg-5 gy-4">
          <div class="col-lg-12 pe-lg-0">
            <div class="section-title-three-sub">
              <span
                class="d-inline-block position-relative fnt-weight-500 text_black fade_left"
                >OUR SERVICES</span
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-12 service-three-pin-wrap overflow-hidden section-padding-bottom"
          >
            <div class="row gy-5 pin-section-area">
              <div class="col-lg-5">
                <div class="service-three-title-wrap">
                  <div class="section-title-three scroll-left-title">
                    <h2>Website Designing and Development</h2>
                  </div>
                </div>
              </div>
              <div class="col-lg-7 pe-lg-0">
                <div
                  class="service-three-box-wrap position-relative work-process-count"
                >
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      Static Websites
                    </h2>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      Dynamic Websites
                    </h2>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      Mobile Websites
                    </h2>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      Micro Sites and Landing Pages
                    </h2>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      Data Management Systems
                    </h2>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      E Commerce Platforms
                    </h2>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      Customized Web Apps
                    </h2>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      API Services
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="service-area-three section-padding-top section-border-black"
    >
      <div class="container custom-container custom-container-semi-large">
        <div class="row">
          <div
            class="col-lg-12 service-three-pin-wrap overflow-hidden section-padding-bottom"
          >
            <div class="row gy-5 pin-section-area">
              <div class="col-lg-5">
                <div class="service-three-title-wrap">
                  <div class="section-title-three scroll-left-title">
                    <h2>Domain and Hosting Services</h2>
                  </div>
                  <!-- <a
                  class="common-design-btn only-border mt-4 btn-trigger btn-bounce"
                  href="service.html"
                >
                  <span class="btn-flip">
                    <span data-text="Explore All">Explore All</span>
                  </span>
                </a> -->
                </div>
              </div>
              <div class="col-lg-7 pe-lg-0">
                <div
                  class="service-three-box-wrap position-relative work-process-count"
                >
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      Domain Registration
                    </h2>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      SSL Ceretificate
                    </h2>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      Hosting Management and VPS
                    </h2>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      Cloud Hosting
                    </h2>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      Domain Transfer
                    </h2>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      Subdomain Management
                    </h2>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      Premium Domain Consultation
                    </h2>
                  </div>
                  <div class="service-three-box">
                    <h2
                      class="h2 position-relative d-inline-block reveal_anim-2"
                    >
                      Security Services
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Services End -->
  </CoreLayout>
</Layout>
