---

---

<section class="about-area-two bg_color_white border-about-two overflow-hidden">
  <div class="container container-semi-large">
    <div
      class="row justify-content-between section-padding-top section-padding-bottom gy-5 align-items-center"
    >
      <div class="col-lg-8 order-1 order-lg-0">
        <div class="about-two-info-wrap">
          <div class="section-title-two">
            <span class="d-inline-block position-relative">ABOUT US</span>
            <h2 class="h2 char-animation">
              We are Jay to your Veeru and Dumb to your Dumber who uplift brands
              with heart, humor and whole lot of magic
            </h2>
          </div>
          <div
            class="about-two-fun-fact-wrap d-flex flex-xl-wrap flex-wrap mt-5"
          >
            <div
              class="about-two-fun-fact d-flex flex-column align-items-center text-center fade_bottom"
            >
              <h2 class="counter-item">
                <span class="odometer d-inline-block" data-odometer-final="200"
                  >.</span
                >
              </h2>
              <p class="text_black mt-0 mt-lg-3">
                Successfully Completed Project
              </p>
            </div>
            <div
              class="about-two-fun-fact d-flex flex-column align-items-center text-center fade_bottom"
            >
              <h2 class="counter-item">
                <span class="odometer d-inline-block" data-odometer-final="7"
                  >+</span
                >
              </h2>
              <p class="text_black mt-0 mt-lg-3">Years of Experience</p>
            </div>
          </div>
          <a class="common-design-btn only-border mt-5" href="about.html">
            <span class="btn-flip">
              <span
                data-text="P.O.V. Our Skilled Professionals are working since last life"
                >P.O.V. Our Skilled Professionals are working since last life</span
              >
            </span>
          </a>
        </div>
      </div>
      <div class="col-lg-3">
        <div
          class="about-two-cta-wrap h-100 position-relative d-flex justify-content-xxl-center justify-content-lg-end justify-content-center btn-trigger"
          data-lag="0.2"
          data-stagger="0.08"
        >
          <div
            class="about-two-cta-box btn-bounce position-relative overflow-hidden"
          >
            <img class="img-1" src="/assets/images/cta-1.svg" alt="" />
            <a href="about.html">
              <svg
                class="img-2"
                width="50"
                height="50"
                viewBox="0 0 50 50"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_3364_2431)">
                  <path
                    d="M36.0869 6.60696L42.5739 13.094L17.2421 38.4259L16.2178 39.4502L17.6664 39.4502L48.4221 39.4502L37.4936 49.4L11.1792 49.4L0.629288 49.4L0.62929 38.8502L0.629295 12.4798L10.5792 1.55035L10.5792 30.6652L10.5792 32.1137L11.6034 31.0895L36.0869 6.60696Z"
                    stroke="#1A1A1A"
                    stroke-width="1.2"></path>
                </g>
                <defs>
                  <clipPath id="clip0_3364_2431">
                    <rect width="50" height="50" fill="white"></rect>
                  </clipPath>
                </defs>
              </svg>
            </a>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
