---
import { Icon } from "astro-icon/components";
---

<div id="conatiner">
  <div class="loader overflow-hidden">
    <div class="revealer"></div>
    <div class="loader-text-wrapper">
      <div class="loader-text">
        <h3>IGNITAX</h3>
      </div>
    </div>
    <div class="progress-wrapper">
      <div class="progress-line-wrapper">
        <span class="progress-line" id="progress-bar"></span>
        <!-- <img
          src="/assets/images/loading.gif"
          class="progress-line"
          id="progress-bar"
          alt=""
        /> -->
      </div>
    </div>
  </div>

  <!-- Preloader End -->

  <!-- back to to button start-->
  <a href="#" id="scroll-top" class="back-to-top-btn"
    ><i class="bi bi-arrow-up"></i></a
  >
  <!-- back to to button end-->
  <header>
    <!-- Menu -->
    <div class="menu-area menu-area-two">
      <div class="container container-semi-large">
        <div class="row align-items-center position-relative">
          <div class="col-lg-3 hamburger-menu position-relative">
            <div class="menu-logo-wrap">
              <a href="index.html"
                ><img
                  src="/assets/images/logo-new.png"
                  alt=""
                  width="170px"
                  height="30px"
                /></a
              >
            </div>
          </div>
          <div class="col-lg-9 d-none d-lg-block">
            <div
              class="nav-wrap d-flex justify-content-between align-items-center"
            >
              <nav class="mainmenu text-right">
                <ul class="home-menu">
                  <li><a href="/">Home</a></li>
                  <li><a href="about.html">About</a></li>
                  <li class="has-child-menu">
                    <a href="javascript:void(0)">Services</a>
                    <ul>
                      <li><a href="/webdev-service">Web Development</a></li>
                      <li><a href="/marketing-service">Marketing</a></li>
                      <li><a href="/design-service">Designing</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="/blogs">Blog</a>
                  </li>

                  <!-- <li><a href="contact.html">Fun Corner</a></li> -->
                </ul>
                <div
                  class="menu-btn-wrap flex-shrink-0 d-lg-none pb-5 pt-3 ps-4"
                >
                  <a
                    class="common-design-btn only-border border-white"
                    href="/contact"
                  >
                    <span class="btn-flip">
                      <span data-text="Let's Connect">Let's Connect</span>
                    </span>
                  </a>
                </div>
              </nav>
              <div class="menu-btn-wrap flex-shrink-0 d-none d-lg-block">
                <a class="common-design-btn only-border" href="/contact">
                  <span class="btn-flip">
                    <span data-text="Let's Connect">Let's Connect</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Menu end -->
  </header>

  <div id="smooth-wrapper">
    <div id="smooth-content">
      <slot />
      <!--Footer Start -->

      <footer class="footer-two-area bg_dp_black">
        <div class="container container-semi-large">
          <div
            class="row gy-5 justify-content-between section-padding-top section-padding-bottom overflow-hidden"
          >
            <div class="col-lg-4">
              <div class="footer-widgets-two">
                <div class="footer-two-company-info text-center text-lg-start">
                  <h2 class="text_light_white bounce-text">IGNITAX</h2>

                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4576.563005642933!2d72.5403329!3d22.997035399999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e85480247891b%3A0x7b58ed03d93c3e66!2sIgnitax!5e1!3m2!1sen!2sin!4v1740895578606!5m2!1sen!2sin"
                    width="350"
                    height="250"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="footer-widgets-two">
                <ul class="custom-ul footer-two-menu">
                  <li><a href="/">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="/webdev-service">Services</a></li>
                  <li><a href="/blogs">Blog</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="footer-widgets-two">
                <div class="footer-two-address-wrap d-flex flex-column">
                  <div class="address-info-box text-center text-lg-start">
                    <h2 class="text_light_white footer-address-title">
                      Reach Us At
                    </h2>
                    <ul
                      class="footer-social color-green custom-ul d-flex flex-col align-items-left"
                    >
                      <li>
                        <a href="mailto:ignitax@gmail.com">
                          <Icon name="line-md:email-check" size={26} />
                          services@ignitax.com
                        </a>
                      </li>
                      <li>
                        <a href="mailto:ignitax@gmail.com">
                          <Icon name="line-md:email-check" size={26} />
                          ignitax@gmail.com
                        </a>
                      </li>
                      <li>
                        <a href="tel:+91-9328514323">
                          <Icon name="ic:baseline-phone" size={26} />
                          +91-9328514323
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="address-info-box text-center text-lg-start">
                    <h2 class="text_light_white footer-address-title">
                      We are there for you
                    </h2>
                    <ul
                      class="custom-ul address-info-social d-flex justify-content-center justify-content-lg-start flex-wrap gap-3"
                    >
                      <li>
                        <a
                          href="https://www.facebook.com/p/Ignitax-61552055575373"
                          target="_blank"
                          ><Icon name="ic:baseline-facebook" size={25} /></a
                        >
                      </li>
                      <li>
                        <a
                          href="https://in.linkedin.com/company/ignitax-virtualserviceandassisstant"
                          target="_blank"
                          ><Icon name="mdi:linkedin" size={25} /></a
                        >
                      </li>
                      <li>
                        <a
                          href="https://www.instagram.com/ignitax_/"
                          target="_blank"
                          ><Icon name="mdi:instagram" size={25} /></a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pe-0 ps-0">
          <div class="col-lg-12">
            <div class="swiper footer-two-touch">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <h2
                    class="text_light_white footer-two-touch-text d-flex align-items-center"
                  >
                    <svg
                      width="70"
                      height="70"
                      viewBox="0 0 70 70"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M19.4393 61.0897L10.018 51.6685L45.6523 16.034L46.6766 15.0097L45.228 15.0097L1.54986 15.0097L17.377 0.600005L54.3101 0.600011L69.3199 0.600014L69.3199 15.6097L69.3199 52.6211L54.9101 68.4496L54.9101 27.0687L54.9101 25.6202L53.8858 26.6444L19.4393 61.0897Z"
                        stroke="#FFFCF4"
                        stroke-width="1.2"></path>
                    </svg>
                    GET IN TOUCH
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container container-semi-large">
          <div class="row">
            <div class="col-lg-12">
              <div class="pt-3 pb-3 d-flex flex-wrap justify-content-center">
                <p class="text_light_white">
                  © 2025 All Rights Reserved By <a
                    href="https://ignitax.com"
                    target="_blank">IGNITAX</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>

      <!--Footer End -->
    </div>
  </div>
</div>

<style lang="css">
  [data-icon] {
    color: white;
  }

  @media screen and (max-width: 750px) {
    .footer-widgets-two,
    ul {
      align-items: center;
    }
  }
</style>
