<section
  class="gallery-slide-area bg_color_gray section-padding-bottom section-padding-top"
>
  <div class="swiper gallery-slide">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="gallery-slide-box overflow-hidden">
          <img
            class="w-100"
            src="/src/assets/images/gallery/slide-g-1.png"
            alt=""
          />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="gallery-slide-box overflow-hidden">
          <img
            class="w-100"
            src="/src/assets/images/gallery/slide-g-2.png"
            alt=""
          />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="gallery-slide-box overflow-hidden">
          <img
            class="w-100"
            src="/src/assets/images/gallery/slide-g-3.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
