<section class="hero-two-area bg_color_white overflow-hidden">
  <div class="container container-semi-large">
    <div class="row gy-5">
      <div class="col-lg-12">
        <div class="hero-two-info">
          <h4 class="reveal_anim_after_loader" style="padding-top: 25px;">
            We Are
          </h4>
          <h1 class="reveal_anim_after_loader">Team of Creators</h1>
        </div>
      </div>
      <div
        class="col-lg-12 hero-two-bottom-info hero-two-border position-relative"
      >
        <div class="row">
          <div class="col-lg-6 overflow-hidden order-1 order-lg-0">
            <div
              class="hero-two-box h-100 d-flex align-items-center justify-content-center position-relative"
            >
              <p class="h-box box-1">MARKETER</p>
              <p class="h-box box-2">CODERS</p>
              <p class="h-box box-3">DESIGNERS</p>
            </div>
          </div>
          <div
            class="col-lg-6 h-100 overflow-hidden about-two-cta-wrap position-relative"
          >
            <div class="hero-two-info hero-two-info-second text-lg-end">
              <h4
                class="reveal_anim_after_loader"
                style="padding-right: 470px;"
              >
                Building
              </h4>
              <h1 class="reveal_anim_after_loader">Brands</h1>
              <h4 class="reveal_anim_after_loader">
                That Standout and Succeed
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
