---
import { Icon } from "astro-icon/components";
---

<section class="work-process-area section-padding-bottom">
  <div class="container">
    <div class="row work-process-count gy-4">
      <div class="col-lg-4 col-md-6 fade_right">
        <div class="work-process-box">
          <Icon name="noto:desktop-computer" width={65} height={65} />
          <h3 class="h3 mt-2 mb-1">IT Companies</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 fade_right">
        <div class="work-process-box">
          <Icon name="logos:google-marketing-platform" width={65} height={65} />
          <h3 class="h3 mt-2 mb-1">Marketing Companies</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 fade_right">
        <div class="work-process-box">
          <Icon name="logos:google-developers" width={65} height={65} />
          <h3 class="h3 mt-2 mb-1">Web Development Companies</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 fade_right">
        <div class="work-process-box">
          <Icon name="logos:ant-design" width={65} height={65} />
          <h3 class="h3 mt-2 mb-1">Graphic Designing</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 fade_right">
        <div class="work-process-box">
          <Icon name="logos:productboard-icon" width={65} height={65} />
          <h3 class="h3 mt-2 mb-1">Product Designing</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 fade_right">
        <div class="work-process-box">
          <Icon
            name="marketeq:invoice-dollar-done-left"
            width={65}
            height={65}
          />
          <h3 class="h3 mt-2 mb-1">US Taxation</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center row-top-padding">
      <div class="col-lg-6 col-xl-4">
        <div class="hero-corporate-info" data-lag="0.2" data-stagger="0.08">
          <a class="common-design-btn only-border white-bg" href="/contact">
            <span class="btn-flip">
              <span data-text="Get Free Quotation">Get Free Quotation</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
