---
import { Icon } from "astro-icon/components";
---

<section class="work-process-area section-padding-top section-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <h2 class="h2 mt-2 title-anim">Industry Experiance</h2>
        </div>
      </div>
    </div>
    <div class="row work-process-count row-top-padding gy-4">
      <div class="col-lg-3 col-md-6 fade_right">
        <div class="work-process-box">
          <Icon name="mdi:medical-bag" width={65} height={65} />
          <h3 class="h3 mt-2 mb-1">Medical</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 fade_right">
        <div class="work-process-box">
          <Icon name="cil:industry" width={65} height={65} />
          <h3 class="h3 mt-2 mb-1">Industrial</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 fade_right">
        <div class="work-process-box">
          <Icon name="ic:round-school" width={65} height={65} />
          <h3 class="h3 mt-2 mb-1">Education</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 fade_right">
        <div class="work-process-box">
          <Icon name="ic:baseline-food-bank" width={65} height={65} />
          <h3 class="h3 mt-2 mb-1">Restaurents</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 fade_right">
        <div class="work-process-box">
          <Icon name="fluent:building-home-16-filled" width={65} height={65} />
          <h3 class="h3 mt-2 mb-1">Real Estate</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 fade_right">
        <div class="work-process-box">
          <Icon name="ic:round-hotel-class" width={65} height={65} />
          <h3 class="h3 mt-2 mb-1">Hospitality</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 fade_right">
        <div class="work-process-box">
          <Icon name="tabler:tax" width={65} height={65} />
          <h3 class="h3 mt-2 mb-1">US Taxation</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 fade_right">
        <div class="work-process-box">
          <Icon name="map:accounting" width={65} height={65} />
          <h3 class="h3 mt-2 mb-1">Accounting</h3>
        </div>
      </div>
    </div>
  </div>
</section>
