---

---

<header>
  <!-- Menu -->
  <div class="menu-area menu-area-two">
    <div class="container container-semi-large">
      <div class="row align-items-center position-relative">
        <div class="col-lg-3 hamburger-menu position-relative">
          <div class="menu-logo-wrap">
            <a href="index.html"><img src="/assets/images/logo.svg" alt="" /></a
            >
          </div>
        </div>
        <div class="col-lg-9 d-none d-lg-block">
          <div
            class="nav-wrap d-flex justify-content-between align-items-center"
          >
            <nav class="mainmenu text-right">
              <ul class="home-menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li class="has-child-menu">
                  <a href="javascript:void(0)">Blog</a>
                  <ul>
                    <li><a href="blog-classic.html">Blog Classic</a></li>
                    <li><a href="blog-single.html">Blog Single</a></li>
                  </ul>
                </li>
                <li class="has-child-menu">
                  <a href="javascript:void(0)">Pages</a>
                  <ul>
                    <li><a href="service.html">Service</a></li>
                    <li><a href="portfolio-grid.html">Portfolio</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                  </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
              <div class="menu-btn-wrap flex-shrink-0 d-lg-none pb-5 pt-3 ps-4">
                <a
                  class="common-design-btn only-border border-white"
                  href="contact.html"
                >
                  <span class="btn-flip">
                    <span data-text="Let's Connect">Let's Connect</span>
                  </span>
                </a>
              </div>
            </nav>
            <div class="menu-btn-wrap flex-shrink-0 d-none d-lg-block">
              <a class="common-design-btn only-border" href="contact.html">
                <span class="btn-flip">
                  <span data-text="Let's Connect">Let's Connect</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Menu end -->
</header>
