<section class="partners-area section-margin-bottom">
  <div class="container container-semi-large">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="h3 title-anim">Trusted Partners</h3>
      </div>
    </div>
    <div class="row row-top-margin">
      <div class="col-lg-12">
        <div class="swiper partners-slide-wrap">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div
                class="partners-slide-box d-flex align-items-center justify-content-center"
              >
                <img src="assets/images/clients/1.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="partners-slide-box d-flex align-items-center justify-content-center"
              >
                <img src="assets/images/clients/2.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="partners-slide-box d-flex align-items-center justify-content-center"
              >
                <img src="assets/images/clients/3.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="partners-slide-box d-flex align-items-center justify-content-center"
              >
                <img src="assets/images/clients/4.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="partners-slide-box d-flex align-items-center justify-content-center"
              >
                <img src="assets/images/clients/5.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="partners-slide-box d-flex align-items-center justify-content-center"
              >
                <img src="assets/images/clients/6.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="partners-slide-box d-flex align-items-center justify-content-center"
              >
                <img src="assets/images/clients/7.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="partners-slide-box d-flex align-items-center justify-content-center"
              >
                <img src="assets/images/clients/8.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="partners-slide-box d-flex align-items-center justify-content-center"
              >
                <img src="assets/images/clients/9.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="partners-slide-box d-flex align-items-center justify-content-center"
              >
                <img src="assets/images/clients/10.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="partners-slide-box d-flex align-items-center justify-content-center"
              >
                <img src="assets/images/clients/11.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="partners-slide-box d-flex align-items-center justify-content-center"
              >
                <img src="assets/images/clients/12.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="partners-slide-box d-flex align-items-center justify-content-center"
              >
                <img src="assets/images/clients/13.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="partners-slide-box d-flex align-items-center justify-content-center"
              >
                <img src="assets/images/clients/14.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="partners-slide-box d-flex align-items-center justify-content-center"
              >
                <img src="assets/images/clients/15.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="partners-slide-box d-flex align-items-center justify-content-center"
              >
                <img src="assets/images/clients/16.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
