---

---

<section
  class="portfolio-area bg_color_white section-padding-top section-padding-bottom"
>
  <div class="container container-semi-large">
    <div class="row align-items-end section-border-black pb-4 pb-lg-5 gy-4">
      <div class="col-lg-8">
        <div class="section-title-two">
          <span class="d-inline-block position-relative">PORTFOLIO</span>
          <h2 class="h2 char-animation">Our Portfolio Showcases</h2>
        </div>
      </div>
      <div class="col-lg-4 text-lg-end">
        <a
          class="common-design-btn only-border btn-trigger btn-bounce"
          href="service.html"
        >
          <span class="btn-flip">
            <span data-text="See All Works">See All Works</span>
          </span>
        </a>
      </div>
    </div>
    <div class="portfolio-box-wrapper row-top-padding">
      <div class="row portfolio-box">
        <div class="col-lg-3">
          <ul class="portfolio-subject">
            <li class="text_black fnt-weight-500">PRODUCT DESIGN</li>
          </ul>
        </div>
        <div class="col-lg-9">
          <div class="row align-items-end gy-3">
            <div class="col-lg-7 col-xxl-8">
              <div class="portfolio-info-wrap">
                <div class="portfolio-info">
                  <p class="fnt-weight-500 text_black">Grameen Life</p>
                  <h3 class="h3 mt-2">Brand: Green Earth Solutions</h3>
                </div>
                <div class="overflow-hidden">
                  <div class="portfolio-img-box img-box-reveal overflow-hidden">
                    <div
                      class="portfolio-img img portfolio-img-1"
                      style="background-image: url(/assets/images/portfolio/pf-1.png);"
                    >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-xxl-4">
              <div class="portfolio-info-wrap">
                <div class="portfolio-info">
                  <div
                    class="portfolio-info-meta d-flex align-items-end justify-content-between"
                  >
                    <span class="fnt-weight-500 text_black">2024</span>
                    <a
                      class="fnt-weight-500 text_black"
                      href="product-single.html">View Full Project</a
                    >
                  </div>
                </div>
                <div class="overflow-hidden">
                  <div class="d-none d-lg-block">
                    <div class="portfolio-img-box img-box-reveal">
                      <div
                        class="portfolio-img img portfolio-img-2"
                        style="background-image: url(/assets/images/portfolio/pf-2.png);"
                      >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row portfolio-box">
        <div class="col-lg-3">
          <ul class="portfolio-subject">
            <li class="text_black fnt-weight-500">APP DEVELOPMENT</li>
          </ul>
        </div>
        <div class="col-lg-9">
          <div class="row align-items-end gy-3">
            <div class="col-lg-7 col-xxl-8">
              <div class="portfolio-info-wrap">
                <div class="portfolio-info">
                  <p class="fnt-weight-500 text_black">The Slack</p>
                  <h3 class="h3 mt-2">App Innovation: FitLife</h3>
                </div>
                <div class="overflow-hidden">
                  <div class="portfolio-img-box img-box-reveal overflow-hidden">
                    <video
                      class="w-100 portfolio-img img portfolio-video ft_object"
                      id="player-hero"
                      playsinline="playsinline"
                      autoplay="autoplay"
                      muted="muted"
                      loop="loop"
                    >
                      <source
                        src="/assets/images/video/1.mp4"
                        type="video/mp4"
                      />
                    </video>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-xxl-4">
              <div class="portfolio-info-wrap">
                <div class="portfolio-info">
                  <div
                    class="portfolio-info-meta d-flex align-items-end justify-content-between"
                  >
                    <span class="fnt-weight-500 text_black">2024</span>
                    <a
                      class="fnt-weight-500 text_black"
                      href="product-single.html">View Full Project</a
                    >
                  </div>
                </div>
                <div class="overflow-hidden">
                  <div class="d-none d-lg-block">
                    <div class="portfolio-img-box img-box-reveal">
                      <div
                        class="portfolio-img img portfolio-img-2"
                        style="background-image: url(/assets/images/portfolio/pf-4.png);"
                      >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row portfolio-box">
        <div class="col-lg-3">
          <ul class="portfolio-subject">
            <li class="text_black fnt-weight-500">UI/UX DESIGN</li>
          </ul>
        </div>
        <div class="col-lg-9">
          <div class="row align-items-end gy-3">
            <div class="col-lg-7 col-xxl-8">
              <div class="portfolio-info-wrap">
                <div class="portfolio-info">
                  <p class="fnt-weight-500 text_black">Royal Hotel</p>
                  <h3 class="h3 mt-2">Website Redesign: Luxury Living</h3>
                </div>
                <div class="overflow-hidden">
                  <div class="portfolio-img-box img-box-reveal overflow-hidden">
                    <div
                      class="portfolio-img img portfolio-img-1"
                      style="background-image: url(/assets/images/portfolio/pf-5.png);"
                    >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-xxl-4">
              <div class="portfolio-info-wrap">
                <div class="portfolio-info">
                  <div
                    class="portfolio-info-meta d-flex align-items-end justify-content-between"
                  >
                    <span class="fnt-weight-500 text_black">2024</span>
                    <a
                      class="fnt-weight-500 text_black"
                      href="product-single.html">View Full Project</a
                    >
                  </div>
                </div>
                <div class="overflow-hidden">
                  <div class="d-none d-lg-block">
                    <div class="portfolio-img-box img-box-reveal">
                      <div
                        class="portfolio-img img portfolio-img-2"
                        style="background-image: url(/assets/images/portfolio/pf-6.png);"
                      >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row portfolio-box">
        <div class="col-lg-3">
          <ul class="portfolio-subject">
            <li class="text_black fnt-weight-500">WEB DEVELOPMENT</li>
          </ul>
        </div>
        <div class="col-lg-9">
          <div class="row align-items-end gy-3">
            <div class="col-lg-7 col-xxl-8">
              <div class="portfolio-info-wrap">
                <div class="portfolio-info">
                  <p class="fnt-weight-500 text_black">Amazon Fly</p>
                  <h3 class="h3 mt-2">
                    Digital Transformation: Tech Innovators
                  </h3>
                </div>
                <div class="overflow-hidden">
                  <div class="portfolio-img-box img-box-reveal overflow-hidden">
                    <div
                      class="portfolio-img img portfolio-img-1"
                      style="background-image: url(/assets/images/portfolio/pf-7.png);"
                    >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-xxl-4">
              <div class="portfolio-info-wrap">
                <div class="portfolio-info">
                  <div
                    class="portfolio-info-meta d-flex align-items-end justify-content-between"
                  >
                    <span class="fnt-weight-500 text_black">2024</span>
                    <a
                      class="fnt-weight-500 text_black"
                      href="product-single.html">View Full Project</a
                    >
                  </div>
                </div>
                <div class="overflow-hidden">
                  <div class="d-none d-lg-block">
                    <div class="portfolio-img-box img-box-reveal">
                      <div
                        class="portfolio-img img portfolio-img-2"
                        style="background-image: url(/assets/images/portfolio/pf-8.png);"
                      >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
