---

---

<div class="hero-two-area hero-area-three">
  <div class="container custom-container custom-container-semi-large">
    <div class="row gy-4 justify-content-between align-items-center">
      <div class="col-lg-7 order-1 order-lg-0">
        <div class="swiper hero-info-slide">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="hero-two-info">
                <span
                  class="text_black fnt-weight-500 hero-three-sub d-inline-block mb-1"
                  >Axole Design</span
                >
                <h1>CREATIVE IDEAS!</h1>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="hero-two-info">
                <span
                  class="text_black fnt-weight-500 hero-three-sub d-inline-block mb-1"
                  >Axole Design</span
                >
                <h1>GENIUS SPARKS</h1>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="hero-two-info">
                <span
                  class="text_black fnt-weight-500 hero-three-sub d-inline-block mb-1"
                  >Axole Design</span
                >
                <h1>CREATIVE MINDS</h1>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="hero-two-info">
                <span
                  class="text_black fnt-weight-500 hero-three-sub d-inline-block mb-1"
                  >Axole Design</span
                >
                <h1>INVENTIVE IDEAS</h1>
              </div>
            </div>
          </div>
          <div class="hero-slide-control w-100 d-flex flex-column mt-lg-5 mt-3">
            <div
              class="hero-number-pagination d-flex align-items-center justify-content-between pe-lg-2"
            >
              <p class="text_black">Selected Projects</p>
              <div
                class="hero-img-fraction-pagination text_black fnt-weight-500"
              >
              </div>
            </div>
            <div
              class="hero-img-pagination d-flex justify-content-md-end mt-3 flex-wrap gap-2"
            >
              <div class="hero-images d-none">
                <span data-image-url="/assets/images/hero/hero-slide-dot-1.png"
                ></span>
                <span data-image-url="/assets/images/hero/hero-slide-dot-2.png"
                ></span>
                <span data-image-url="/assets/images/hero/hero-slide-dot-3.png"
                ></span>
                <span data-image-url="/assets/images/hero/hero-slide-dot-4.png"
                ></span>
              </div>
            </div>
          </div>
          <div class="hero-three-btn-wrap mt-4 mt-lg-5">
            <a class="common-design-btn only-border" href="service.html">
              <span class="btn-flip">
                <span data-text="Explore Works">Explore Works</span>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 pe-lg-0">
        <div class="swiper hero-img-slide">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                class="w-100 hero-three-img"
                src="/assets/images/hero/hero-slide-1.png"
                alt=""
              />
            </div>
            <div class="swiper-slide">
              <img
                class="w-100 hero-three-img"
                src="/assets/images/hero/hero-slide-2.png"
                alt=""
              />
            </div>
            <div class="swiper-slide">
              <img
                class="w-100 hero-three-img"
                src="/assets/images/hero/hero-slide-3.png"
                alt=""
              />
            </div>
            <div class="swiper-slide">
              <img
                class="w-100 hero-three-img"
                src="/assets/images/hero/hero-slide-4.png"
                alt=""
              />
            </div>
            <div class="swiper-slide">
              <img
                class="w-100 hero-three-img"
                src="/assets/images/hero/hero-slide-4.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
