<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>IGNITAX</title>
    <link rel="stylesheet" href="/assets/css/plugins.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <slot />

    <script is:inline src="/assets/js/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script is:inline src="/assets/js/bootstrap.bundle.min.js"></script>
    <!-- MixItUp JS -->
    <script is:inline src="/assets/js/jquery.mixitup.min.js"></script>
    <!-- Swiper Carousel JS -->
    <script is:inline src="/assets/js/swiper-bundle.min.js"></script>
    <!-- Magnific Popup JS -->
    <script is:inline src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Odometer JS -->
    <script is:inline src="/assets/js/odometer.min.js"></script>
    <script is:inline src="/assets/js/viewport.jquery.js"></script>
    <!-- Mean menu JS -->
    <script is:inline src="/assets/js/jquery.meanmenu.min.js"></script>
    <!-- gsap JS -->
    <script is:inline src="/assets/js/gsap.js"></script>
    <script is:inline src="/assets/js/gsap-scroll-smoother.js"></script>
    <script is:inline src="/assets/js/gsap-scroll-to-plugin.js"></script>
    <script is:inline src="/assets/js/gsap-scroll-trigger.js"></script>
    <script is:inline src="/assets/js/gsap-split-text.js"></script>
    <script is:inline src="/assets/js/chroma.min.js"></script>
    <script is:inline src="/assets/js/split-type.js"></script>
    <!-- Main JS -->
    <script is:inline src="/assets/js/main.js"></script>
  </body>
</html>
