---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon2.png" />
    <meta name="generator" content={Astro.generator} />
    <title>UNCORE DIGITAL - Focus On Core</title>
    <link rel="stylesheet" href="/assets/css/plugins.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <!-- Meta Pixel Code -->
    <script is:inline>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "1325349695026715");
      fbq("track", "PageView");
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=1325349695026715&ev=PageView&noscript=1"
      /></noscript
    >
    <!-- End Meta Pixel Code -->

    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      src="https://www.googletagmanager.com/gtag/js?id=G-H9Q241NED7"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-H9Q241NED7");
    </script>
  </head>
  <body>
    <slot />

    <script is:inline src="/assets/js/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script is:inline src="/assets/js/bootstrap.bundle.min.js"></script>
    <!-- MixItUp JS -->
    <script is:inline src="/assets/js/jquery.mixitup.min.js"></script>
    <!-- Swiper Carousel JS -->
    <script is:inline src="/assets/js/swiper-bundle.min.js"></script>
    <!-- Magnific Popup JS -->
    <script is:inline src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Odometer JS -->
    <script is:inline src="/assets/js/odometer.min.js"></script>
    <script is:inline src="/assets/js/viewport.jquery.js"></script>
    <!-- Mean menu JS -->
    <script is:inline src="/assets/js/jquery.meanmenu.min.js"></script>
    <!-- gsap JS -->
    <script is:inline src="/assets/js/gsap.js"></script>
    <script is:inline src="/assets/js/gsap-scroll-smoother.js"></script>
    <script is:inline src="/assets/js/gsap-scroll-to-plugin.js"></script>
    <script is:inline src="/assets/js/gsap-scroll-trigger.js"></script>
    <script is:inline src="/assets/js/gsap-split-text.js"></script>
    <script is:inline src="/assets/js/chroma.min.js"></script>
    <script is:inline src="/assets/js/split-type.js"></script>
    <!-- Main JS -->
    <script is:inline src="/assets/js/main.js"></script>
  </body>
</html>
