---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../assets/css/style.css";
import "../assets/css/plugins.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>IGNITAX</title>
  </head>
  <body>
    <div class="loader overflow-hidden">
      <div class="revealer"></div>
      <div class="loader-text-wrapper">
        <div class="loader-text">
          <h3>IGNITAX</h3>
        </div>
      </div>
      <div class="progress-wrapper">
        <div class="progress-line-wrapper">
          <span class="progress-line" id="progress-bar"></span>
        </div>
      </div>
    </div>
    <a href="#" id="scroll-top" class="back-to-top-btn"
      ><i class="bi bi-arrow-up"></i></a
    >
    <Navbar />
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <slot />
        <Footer />
      </div>
    </div>

    <script is:inline src="/assets/js/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script is:inline src="/assets/js/bootstrap.bundle.min.js"></script>
    <!-- MixItUp JS -->
    <script is:inline src="/assets/js/jquery.mixitup.min.js"></script>
    <!-- Swiper Carousel JS -->
    <script is:inline src="/assets/js/swiper-bundle.min.js"></script>
    <!-- Magnific Popup JS -->
    <script is:inline src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Odometer JS -->
    <script is:inline src="/assets/js/odometer.min.js"></script>
    <script is:inline src="/assets/js/viewport.jquery.js"></script>
    <!-- Mean menu JS -->
    <script is:inline src="/assets/js/jquery.meanmenu.min.js"></script>
    <!-- gsap JS -->
    <script is:inline src="/assets/js/gsap.js"></script>
    <script is:inline src="/assets/js/gsap-scroll-smoother.js"></script>
    <script is:inline src="/assets/js/gsap-scroll-to-plugin.js"></script>
    <script is:inline src="/assets/js/gsap-scroll-trigger.js"></script>
    <script is:inline src="/assets/js/gsap-split-text.js"></script>
    <script is:inline src="/assets/js/chroma.min.js"></script>
    <script is:inline src="/assets/js/split-type.js"></script>
    <!-- Main JS -->
    <script is:inline src="/assets/js/main.js"></script>
  </body>
</html>
